<div class="donate_question">
    <!--An wen soll <i class="fa fa-plus-circle" ng-style="{'color': '#629820'}"></i> denn gehen?-->
    <!--An wen soll der {{textForItemId(itemId)}}-Punkt denn gehen?-->
    An wen soll der
    <i class="fa fa-plus-circle" ng-style="{'color': '#629820'}" ng-if="itemId==0"></i>
    <i class="fa fa-minus-circle" ng-style="{'color': '#DD3629'}" ng-if="itemId==1"></i>
    Punkt denn gehen?
</div>

<div class="player-grid">
    <div class="col-xs-6 player-grid-item" ng-repeat="player in getPlayersOrdered() track by $index">
        <a href="" ng-click="donate(player.playerId, player.colors, itemId)">
            <div ng-style="{'height': '40px'}">
                <div class="row1" ng-style="colors[player.colors[0]]">
                </div>
                <div class="row2" ng-style="colors[player.colors[1]]">
                </div>
                        <span class="badge badge-flag-notification" ng-show="newCntPerPlayer[player.playerId]>0">
                            {{ newCntPerPlayer[player.playerId] }}</span>
            </div>
        </a>
    </div>
</div>
