<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xml:space="preserve"
   width="680"
   height="520"
   viewBox="1754 161 9938 7945"
   version="1.0"
   id="svg2"
   sodipodi:version="0.32"
   inkscape:version="0.46"
   sodipodi:docname="Blank_map_europe2.svg"
   sodipodi:docbase="C:\Documents and Settings\Botek\Desktop"
   inkscape:output_extension="org.inkscape.output.svg.inkscape">
    <title id="title4">Countries of Europe</title>

    <defs
     id="defs8">

        <style type="text/css"
   id="style10">
  * {
      fill: none;
  }

  path {
      fill: #C0C0C0;
      stroke: white;
      stroke-width: 8;
  }

  /* stroke-width was originally at around 4px, but this makes it difficult to see when the image is smaller */

 </style>
<style id="style2412" type="text/css">
  * {
      fill: none;
  }

  path {
      fill: #C0C0C0;
      stroke: white;
      stroke-width: 8;
  }

  .gmt /* GMT/WET (UTC) */
      {
      fill: #5F61BF;
  }

  .gmt-nodst {
      fill: #C0BFFD;
  }

  .cet /* CET (UTC+1) */
      {
      fill: #C15F61;
  }

  .cet-nodst {
      fill: #FBBFC0;
  }

  .eet /* EET (UTC+2) */
      {
      fill: #D7D65C;
  }

  .msk /* MSK (UTC+3) */
      {
      fill: #5EBF5F
  }

 </style>

        <style  id="style3795" type="text/css">
/* Default Definitions, can be overridden with the individual style selectors */
* {
    fill: none;
}

g.nationGroup path {
    fill: inherit;
    stroke: inherit
}

g.nationGroup, path {
    fill: #C0C0C0;
    stroke: white;
    stroke-width: 8;
}

/* stroke-width was originally at around 4px, but this makes it difficult to see when the image is smaller */
/* Geographic Features */
#ocean {
    opacity: 1;
    fill: none;
    fill-opacity: 1
}

#lakes {
    opacity: 0.4;
    fill: white;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 8
}

</style>
    </defs>

    <g
     inkscape:groupmode="layer"
     id="layer1"
     inkscape:label="greece" />
    <rect
     style="opacity: 1; fill: none; fill-opacity: 1;"
     y="162.74684"
     x="-340.6582"
     height="7934.9712"
     width="12386.153"
     id="ocean"
     sodipodi:insensitive="true" />

    <g
     inkscape:groupmode="layer"
     id="outlines"
     inkscape:label="outlines"
     style="opacity: 1; fill: none; display: inline;">

    <g>
        <title>Layer 1</title>
        <g id="layer1" transform="translate(-1800,-2100)">
            <a href="" ng-repeat="p in europeSVG track by $index" ng-click="select($index)">
        <path id="p.id" d="{{p.d}}" transform="{{p.transform}}" ng-style="p.selected ? {'fill':'green'} : {}"></path>
                </a>
        </g>
    </g>

</svg>

<svg width="454.1705" height="449.72656" xmlns="http://www.w3.org/2000/svg">

    <metadata id="metadata6342">image/svg+xml</metadata>
</svg>