<div class="container margin-top">
    <form ng-submit="chat($routeParams.playerId)">

        <div ng-style="{'height': '40px', 'width':'80px', 'float':'left'}">
            <div class="row1" ng-style="colors[playerColors[$routeParams.playerId][0]]">
            </div>
            <div class="row2" ng-style="colors[playerColors[$routeParams.playerId][1]]"></div>
            <div ng-style="{'font-weight':'bold', 'position':'relative', 'bottom':'35px'}">

            </div>
        </div>
        <div><input type="text" size="15" id="{{'text'+$index}}" ng-model="data.newMessage[$routeParams.playerId]"
                    ng-click="scrollToItem('text'+$index)"/>
        </div>
    </form>
    <ul class="list-unstyled">
        <li class="">
        </li>
        <li class="" ng-style="(message[0]==0) ? {'font-style':'italic'} : {}"
            ng-repeat="message in messages[$routeParams.playerId] track by $index">
            {{message[1]}}
        </li>
    </ul>
</div>