<not-joined ng-hide="status.joined"></not-joined>
<div ng-show="status.joined">
    <div> You are rated: <strong>{{moodys[rating.avgRatings[status.player.playerId]]}} </strong></div>
    <div class="player-grid">
        <div class="col-xs-4 player-grid-item" ng-repeat="player in status.otherPlayers | isOtherPlayerThan:status.player track by $index">
            <div ng-style="{'height': '40px'}">
                <div class="row1" ng-style="colors[playerColors[player.playerId][0]]">
                </div>
                <div class="row2" ng-style="colors[playerColors[player.playerId][1]]"></div>
                <div ng-style="{'font-weight':'bold', 'position':'relative', 'bottom':'35px'}">
                    {{moodys[rating.avgRatings[player.playerId]]}}
                </div>
            </div>
            <div class="player-grid-buttons">
                <span class="text-center" ng-show="status.joined">{{moodys[myRatings[player.playerId]]}}</span>
                <button class="btn-group pull-left" ng-click="rate(player.playerId, -1)" ng-disabled="myRatings[player.playerId]<=0">
                    <i class="fa fa-minus"></i></button>
                <button class="btn-group pull-right" ng-click="rate(player.playerId, 1)" ng-disabled="myRatings[player.playerId]>7">
                    <i class="fa fa-plus"></i></button>
                </button>
            </div>
        </div>
    </div>
</div>
