<tbody>
<tr>
    <th>Option</th>
    <th ng-show="item.type == 'switch'"></th>
    <th ng-show="item.type == 'vote'">Correct</th>
    <th ng-show="item.type == 'vote'"></th>
</tr>
<tr ng-repeat="voteOption in item.voteOptions track by $index">
    <td>
        ({{gettextCatalog.currentLanguage}})
        <span editable-text="voteOption.text[gettextCatalog.currentLanguage]" e-name="text" onaftersave="saveVoteOption()" e-ng-disabled="!socket.server.connected">
            {{ voteOption.text[gettextCatalog.currentLanguage] || '-' }}
        </span>
        <p ng-if="show && language !== gettextCatalog.currentLanguage"
             ng-repeat="(language, show) in otherLanguages">
            ({{language}}) <span editable-text="voteOption.text[language]" e-name="text" onaftersave="saveVoteOption()" e-ng-disabled="!socket.server.connected">
            {{ voteOption.text[language] || '-' }}
            </span>
        </p>

    </td>
    <td ng-show="item.type == 'vote'"><span editable-checkbox="voteOption.correctAnswer" e-name="correctAnswer"
                                            onaftersave="saveVoteOption()" e-ng-disabled="!socket.server.connected">
          {{ voteOption.correctAnswer ? 'x':'-' }}
        </span>
    </td>
    <!--
    <td ng-show="item.type == 'vote'">
        <span editable-number="voteOption.score" e-name="score" onaftersave="saveVoteOption()">
              {{ voteOption.score || 'empty' }}
        </span>
    </td>
    -->
    <td style="white-space: nowrap">
        <div class="buttons">
            <button class="btn btn-sm btn-danger" ng-click="deleteVoteOption($index)">Delete</button>
        </div>
    </td>
</tr>
</tbody>
