<div>
    <div class="panel panel-default" ng-repeat="deck in item.inlineDecks track by $index">
        <div class="panel-heading">
            <strong>Inline Deck {{$index}}</strong>

            <div class="buttons pull-right">
                <button class="btn btn-sm btn-danger" ng-click="deleteInlineDeck($index)"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="panel-body">
            <div class="labeled-option-group">
                <labeled-item-option field="inlineSwitchSource" title="Source" type="select" item="item"
                                     saveitem="saveItem()"></labeled-item-option>
            </div>
            <div class="inline-deck deck">
                <div ng-include="'/admin/views/admin/show-deck.html'"></div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" ng-click="addInlineSwitchOption()" translate>New Deck</button>
</div>
