<div class="labeled-option-group">
    <div class="labeled-option" ng-show="(item.voteType == 'customOptions' || item.voteType == 'customMultipleOptions')">
        <div class="labeled-option-title">Options</div>
        <div class="labeled-option-content">
            <table class="table">
                <tbody show-vote-option>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="addVoteOption($index)">New option</button>
        </div>
    </div>
</div>
