<div class="labeled-option-group">
    <labeled-item-option field="text" title="Text" type="localized-textarea" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="agreementType" title="Type" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="agreementOption" title="Option" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="time" title="Time" type="text" item="item" saveitem="saveItem()"></labeled-item-option>
</div>
