<table>
    <tr>
        <td translate>Text:</td>
        <td>
            <span editable-textarea="item.text"
                  e-rows="7" e-cols="40" e-name="text"
                  onaftersave="saveItem()">
                {{ item.text || '-' }}
            </span>
        </td>
    </tr>
    <tr>
        <td translate>Type:</td>
        <td>
            <span editable-select="item.ratingType" e-name="ratingType"
                  onaftersave="saveItem()"
                  e-ng-options="s.value as s.text for s in itemOptions.ratingType"
                  >
                {{ showTextForValue(item, "ratingType") }}
            </span>
        </td>
    </tr>
    <tr ng-show="item.ratingType=='allTeams'">
        <td translate>Rating:</td>
        <td>
        <span editable-select="item.posNeg" e-name="posNeg"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in itemOptions.posNeg"
                >
          {{ showTextForValue(item, "posNeg") }}
        </span>
        </td>
    </tr>
    <tr ng-show="item.ratingType=='oneTeam'">
        <td>Which team:</td>
        <td>
        <span editable-select="item.bestWorst" e-name="bestWorst"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in itemOptions.bestWorst"
                >
          {{ showTextForValue(item, "bestWorst") }}
        </span>
        </td>
    </tr>
</table>
