<div>
    <table class="table">
        <tr>
            <th>Type</th>
            <th>Content</th>
        </tr>
        <tr  ng-repeat="voteOption in item.voteOptions track by $index">
            <td>
            <span editable-text="voteOption.value" e-name="value" onaftersave="saveVoteOption()">
                  {{ voteOption.value || '-' }}
            </span>
            </td>
            <td>
            <span editable-text="voteOption.text" e-name="text" onaftersave="saveVoteOption()">
                  {{ voteOption.text || '-' }}
            </span>
            </td>
        </tr>
    </table>
</div>
