<table>
    <tr>
        <td translate>Text:</td>
        <td>
            <span editable-textarea="item.text"
                  e-rows="7" e-cols="40" e-name="text"
                  onaftersave="saveItem()">
                {{ item.text || '-' }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="text-right" translate>Cost:</td>
        <td>
    <span editable-text="item.cost"
          e-rows="7" e-cols="40" e-name="cost"
          onaftersave="saveItem()">
          {{ item.cost || '-' }}
        </span>
        </td>
    </tr>
    <tr>
        <td class="text-right" translate>Win:</td>
        <td>
    <span editable-text="item.win"
          e-rows="7" e-cols="40" e-name="win"
          onaftersave="saveItem()">
          {{ item.win || '-' }}
        </span>
        </td>
    </tr>
    <tr>
        <td translate>Time until decision:</td>
        <td>
<span editable-text="item.time"
      e-rows="1" e-cols="4" e-name="time"
      onaftersave="saveItem()">
          {{ item.time || '-' }}
        </span>
        </td>
    </tr>

</table>
