<div class="labeled-option-group">
    <labeled-item-option field="text" title="Text" type="localized-textarea" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="voteType" title="Type" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="time" title="Time" type="text" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="percentsForFinish" title="Required votes %" type="text" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="ratedVote" title="With rating" type="checkbox" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option ng-show="item.voteType=='countryChoice'" field="language" title="Language" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option ng-show="item.voteType == 'customMultipleOptions' || item.voteType=='countryChoice'" field="voteMulti" title="Vote count" type="text" item="item" saveitem="saveItem()"></labeled-item-option>
    <div class="labeled-option" ng-show="(item.voteType == 'customOptions' || item.voteType == 'customMultipleOptions')">
        <div class="labeled-option-title" translate>Options</div>
        <div class="labeled-option-content">
            <table class="table">
                <tbody show-vote-option item="item">
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="addVoteOption($index)" translate>New option</button>
        </div>
    </div>
</div>
