<div class="labeled-option-group">
    <labeled-item-option field="text" title="Text" type="localized-textarea" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option field="ratingType" title="Type" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option ng-show="item.ratingType=='allTeams'" field="posNeg" title="Rating" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
    <labeled-item-option ng-show="item.ratingType=='oneTeam'" field="bestWorst" title="Which team" type="select" item="item" saveitem="saveItem()"></labeled-item-option>
</div>

