<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <title><%= title %></title>
    <!--<link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css"/>-->
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="stylesheets/responsive.min.css"/>
    <link rel="stylesheet" href="stylesheets/app.css"/>
    <link rel='stylesheet' href='/stylesheets/player.css'/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <!--    <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/nvd3/build/nv.d3.js"></script>
        <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>  -->
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <script src="playerApp/playerApp.js"></script>
    <script src="playerApp/controllers/playerControllers.js"></script>
    <script src="playerApp/services/websocketServices.js"></script>
    <script src="playerApp/services/playerAppServices.js"></script>

</head>
<body ng-app="playerApp" ng-controller="ctrl" ng-swipe-right='Ui.turnOn("uiSidebarLeft")'
      ng-swipe-left='Ui.turnOff("uiSidebarLeft")' ng-init="register()">

<!-- Sidebars -->
<div class="sidebar sidebar-left"><h2>MENU</h2></div>

<div class="app">
    <div class="navbar navbar-app navbar-absolute-top text-center red">
        <div ng-style="{'height': '100px'}">
            <div class="row1" ng-style="col1">
                <h1><%= title %> </h1>
            </div>
            <div class="row2" ng-style="col2">
                <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                    {{itemTypes[type]}}
                </div>
                <div class="btn-group pull-left"><div class="navbarbtn" ng-click="type='rating'">RATE</div></div>
                <div class="btn-group pull-right"><div class="navbarbtn" ng-click="type='card'">HOME</div></div>
            </div>
        </div>
    </div>

    <!-- App body -->
    <div class='app-body scrollable'>

        <div class='app-content text-center scrollable-content'>
            <div ng-show="debug">
                DEBUG: {{type}}, {{player}}, {{col1}}
            </div>

            <div class="section content" ng-switch="type">
                <div ng-switch-when="result">
                    <canvas id="base" class="chart chart-base ng-isolate-scope" chart-type="'Pie'" data="data"
                            labels="labels"
                            legend="true">
                    </canvas>
                </div>

                <div ng-switch-when="card">
                    <ul class="list-unstyled">
                        <li ng-repeat="t in text track by $index">{{t}}</li>
                    </ul>
                </div>

                <div ng-switch-when="rating" ng-controller="RatingController">
                    <table class="table">
                        <col width="40%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <tr>
                            <th>Player</th>
                            <th colspan="3">Your Rating</th>
                        </tr>
                        <tr ng-repeat="rating in myRatings track by $index">
                            <td>
                                <div ng-style="{'height': '40px', 'width':'80px'}">
                                    <div class="row1" ng-style="colors[playerColors[$index][0]]">
                                    </div>
                                    <div class="row2" ng-style="colors[playerColors[$index][1]]"></div>
                                    <div ng-style="{'position':'relative', 'bottom':'35px'}">
                                        {{moodys[avgRatings[$index]]}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button ng-show="ratingActive" ng-disabled="rating>=8" ng-click="rate($index, 1)">+</button>
                            </td>
                            <td>
                                <span>{{moodys[rating]}}</span>
                            </td>
                            <td>
                                <button ng-show="ratingActive" ng-disabled="rating<=0" ng-click="rate($index, -1)">-</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-switch-when="vote">
                    <ul class="list-unstyled">
                        <li ng-repeat="t in text track by $index">{{t}}</li>
                    </ul>
                    <ul class="list-unstyled wide-list" ng-show="options != null && limit == 1">
                        <li ng-repeat="opt in options track by $index">
                            <button class="btn-lg" ng-click="vote($index)">{{opt.text}}</button>
                        </li>
                    </ul>

                    <ul class="list-unstyled wide-list" ng-show="options != null && limit > 1">
                        <li ng-repeat="opt in options track by $index">
                            <input type="checkbox" ng-model="opt.checked" ng-change="checkChanged(opt)"
                                   ng-disabled="checked==limit && !opt.checked"/>
                            {{opt.text}}
                        </li>
                        <li>
                            <button ng-click="vote()">VOTE</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ~ .app -->

<!-- Modals and Overlays -->
<div ui-yield-to="modals"></div>

</body>

</html>
