<div class="modal-header">
    <h3 class="modal-title" translate>Move item</h3>
</div>
<div class="modal-body">
    <span translate>Choose target where item will be appended.</span><br />
    <select
            ng-init="result.newDeckId=deckId"
            data-ng-attr-size={{decks.length+1}}
            ng-model="result.newDeckId"
            ng-options="deck._id as deck.title for (id,deck) in decks">
    </select>
    <select
            ng-init="result.newItemId=itemId"
            data-ng-attr-size={{deckChoice.items.length+1}}
            ng-model="result.newItemId"
            ng-options="item._id as id+') '+item.text.substr(0,50) for (id,item) in deckChoice.items">

    </select>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="move()" translate>Move</button>
    <button class="btn btn-primary" ng-click="copy()" translate>Copy</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
</div>
