<div class="panel panel-default"
     ng-class="{'item-highlighted':item.highlight}"
     ng-controller="itemCtrl">
    <div class="panel-heading item item-header" ng-class="'item-'+item.type" ng-attr-id="{{item._id}}">
        <div class="container-fluid item-header">
            <ul class="list-inline pull-left">
                <li><strong ng-click="collapse()">
                    {{ $index }}</strong>
                    <!--
                                   {{ name }}:{{$parent.name}}:{{$parent.$parent.name}}:{{$parent.$parent.$parent.name}}:{{$parent.$parent.$parent.$parent.name}}:{{$parent.$parent.$parent.$parent.$parent.name}}:{{$parent.$parent.$parent.$parent.$parent.$parent.name}}
                                   -->
                <span ng-click="collapseAll()">
                    <i ng-hide="all.collapsed" class="fa fa-caret-square-o-down"></i>
                    <i ng-show="all.collapsed" class="fa fa-caret-square-o-up"></i>
                </span>
                <span ng-hide="true" ng-click="scrollTo(deck._id)">
                    <i class="fa fa-long-arrow-up"></i>
                </span>
                </li>

                <li>
                    <labeled-item-option field="type" title="" type="select" item="item"
                                         saveitem="saveItem()"></labeled-item-option>
                </li>
                <li>
                    <labeled-item-option field="trigger" title="" type="select" item="item"
                                         saveitem="saveItem()"></labeled-item-option>
                </li>
                <li>
                    <strong><span translate>Wait </span>
                        <labeled-item-option field="wait" title="" type="text" item="item"
                                             saveitem="saveItem()"></labeled-item-option>
                        <span translate> sec</span></strong>
                </li>
                <li>
                    <strong><span translate>Silent </span>
                        <labeled-item-option field="silent" title="" type="checkbox" item="item"
                                             saveitem="saveItem()"></labeled-item-option>
                    </strong>
                </li>
                <li>
                    <strong>Mapping</strong>
                    <labeled-item-option field="device" title="" type="tags" item="item"
                                         saveitem="saveItem()"></labeled-item-option>
                </li>

            </ul>
            <ul class="list-inline pull-right">
                <li>
                    <item-buttons></item-buttons>
                </li>
            </ul>
        </div>

    </div>
    <!-- haupt teil - für alle items von optionen aus der factory
        card: text
        vote: text + mit/ohne rating + anzahl optionen + optionen (ohne followup)
        switch: nur optionen (mit followUp)
        results: text als select
        sound: text (filename)
    -->
    <div class="panel-body" ng-switch="item.type" ng-if="!item.collapsed">
        <div show-vote-content ng-switch-when="vote"></div>
        <div show-switch-content ng-switch-when="switch"></div>
        <div show-inline-switch-content ng-switch-when="inlineSwitch"></div>
        <div show-results-content ng-switch-when="results"></div>
        <div show-sound-content ng-switch-when="sound"></div>
        <div show-cmd-content ng-switch-when="cmd"></div>
        <div show-eval-content ng-switch-when="eval"></div>
        <div show-config-content ng-switch-when="config"></div>
        <div show-deal-content ng-switch-when="deal"></div>
        <div show-rating-content ng-switch-when="rating"></div>
        <div show-roulette-content ng-switch-when="roulette"></div>
        <div show-agreement-content ng-switch-when="agreement"></div>
        <div show-card-content ng-switch-default></div>
        <hr>
        <div class="labeled-option-group">
            <labeled-item-option field="comment" title="Regie" type="textarea" item="item"
                                 saveitem="saveItem()"></labeled-item-option>
            <labeled-item-option field="mcnote" title="MC-Note" type="localized-textarea" item="item"
                                 saveitem="saveItem()"></labeled-item-option>
        </div>

    </div>
</div>
