<div ng-controller="deckCtrl">
    <ul class="list-unstyled" ng-hide="deck.inline">
        <li>{{deck.description}}</li>
        <li>Gesamtdauer: {{getTimeForDeck()}}</li>
        <li style="text-align: right">
            <a ng-click="deleteDeck($index)">Lösche Strang</a>
        </li>
        <li style="text-align: right">
            <a ng-click="duplicateDeck($index)">Dupliziere Strang</a>
        </li>
        <li style="text-align: right">
            <a ng-click="exportCSV($index)">Export CSV</a>
        </li>
    </ul>
    <table class="table deck-table">
        <!--
                <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <col width="65%">
                <col width="10%">
                </colgroup>
                -->
        <tbody>
        <tr>
            <th>Nr</th>
            <th>Typ</th>
            <th>Trigger</th>
            <th>Inhalt</th>
            <th>Kommentar</th>
            <th>Action</th>
        </tr>
        </tbody>
        <tbody ui-sortable="sortOptions" ng-model="deck.items" id="{{ 'sort-table-'+ $index }}">
        <tr ng-repeat="item in deck.items track by $index" show-sequence-item>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="5">
                <button class="btn" ng-click="addItem()">Neues Ereignis</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

