<div ng-controller="setCtrl" id="set">
    <div class="panel-group">
        <show-deck class="deck" ng-repeat="deck in decks track by $index"></show-deck>
    </div>


    <accordion class="list-unstyled">
        <accordion-group heading="{{ 'New deck' | translate }}">
            <edit-new-deck></edit-new-deck>
        </accordion-group>
        <accordion-group heading="{{ 'Import JSON' | translate }}">
            <import-json></import-json>
        </accordion-group>
    </accordion>
</div>
