<div ng-controller="deckCtrl">
    <ul class="list-unstyled" ng-hide="deck.inline">
        <li>{{deck.description}}</li>
        <li ng-hide="true" translate>Total duration: {{getTimeForDeck()}}</li>
        <li style="text-align: right">
            <button class="btn btn-sm btn-danger" ng-click="deleteDeck($index)" translate>Delete deck</button>
        </li>
        <!-- <li style="text-align: right"> -->
        <!--     <button class="btn btn-sm btn-default" href="#" ng-click="duplicateDeck($index)" translate>Duplicate deck</button> -->
        <!-- </li> -->
        <!-- <li style="text-align: right"> -->
        <!--     <button class="btn btn-sm btn-default" href="#" ng-click="exportCSV($index)" translate>Export CSV</button> -->
        <!-- </li> -->
    </ul>
    <div class="table deck-table">
        <!--
            <div translate>No.</div>
            <div translate>Type</div>
            <div translate>Trigger</div>
            <div translate>Content</div>
            <div translate>Comment</div>
            <div translate>Action</div>
            -->
        <div ng-repeat="item in deck.items track by $index" show-sequence-item>
        </div>
        <div>
                <button class="btn btn-primary" ng-click="addItem()" translate>Add new item</button>
        </div>
    </div>
</div>

