<div ng-controller="deckCtrl" ng-attr-id="{{deck._id}}">
    <ul class="list-unstyled" ng-hide="deck.inline">
        <li>{{deck.description}}</li>
        <li ng-hide="true" translate>Total duration: {{getTimeForDeck()}}</li>
        <li style="text-align: right">
            <a ng-click="deleteDeck($index)" translate>Delete deck</a>
        </li>
        <li ng-hide="true" style="text-align: right">
            <a ng-click="duplicateDeck($index)" translate>Duplicate deck</a>
        </li>
        <li ng-hide="true" style="text-align: right">
            <a ng-click="exportCSV($index)" translate>Export CSV</a>
        </li>
    </ul>
    <div class="table deck-table">
        <!--
            <div translate>No.</div>
            <div translate>Type</div>
            <div translate>Trigger</div>
            <div translate>Content</div>
            <div translate>Comment</div>
            <div translate>Action</div>
            -->
        <div ng-repeat="item in deck.items track by $index" show-sequence-item>
        </div>
        <div>
                <button class="btn btn-primary" ng-click="addItem()" translate>Add new item</button>
        </div>
    </div>
</div>

