<ul class="list-group" ng-controller="GameConfCtrl">
    <li class="list-group-item">
        Autoplay: <a href="#" editable-checkbox="gameConf.autostart" e-title="Autoplay?"
                     onaftersave="updateGameConf()">
        {{ gameConf.autostart && "On" || "Off" }}
    </a>
    </li>
    <li class="list-group-item">
        <span editable-text="gameConf.playerCnt" e-name="playerCnt" onaftersave="updateGameConf()">
          {{ gameConf.playerCnt || '0' }}
        </span>Player
    </li>
    <li class="list-group-item">
        Startdeck:
    <span editable-select="gameConf.startDeckId" e-ng-options="s._id as s.title for s in decks"
          onaftersave="updateGameConf()">
          {{ showDeck(gameConf) }}
    </span>
    </li>
    <li class="list-group-item">
        <div>
            <div><h5>Default-Mapping:</h5></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="type in gameConf.typeMapping track by $index">
                    <ul class="list-inline">
                        <li>
                            {{type.type}}:
                        </li>
                        <li ng-repeat="device in type.devices track by $index">
                            <form editable-form name="deviceFrm" shown="device == ''">
                        <span class="device">
                            <span ng-click="deviceFrm.$show()" e-form="deviceFrm" editable-text="type.devices[$index]"
                                  onbeforesave="" onaftersave="updateGameConf($parent.$parent.$index)">
                                {{ device }}
                            </span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                  ng-click="removeDeviceFromType($parent.$index, $index)"></span>
                        </span>
                            </form>
                        </li>
                        <li>
                    <span ng-click="addDeviceToType($index)"><span class="glyphicon glyphicon-plus"
                                                                   aria-hidden="true"></span></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
</ul>
