<div class="buttons" ng-controller="MasterPlaybackCtrl">
    <div ng-hide="stepId < 0">Aktueller Step: {{stepId}}</div>
    <div ng-show="stepId < 0">Game stopped</div>
    <div>
        <button class="btn" ng-click="playback('play')">PLAY</button>
        <button class="btn" ng-click="playback('stop')">STOP</button>
        <button class="btn" ng-click="playback('go')">GO</button>
        <button class="btn" ng-click="playback('rego')">REGO</button>
        <button class="btn" ng-click="playback('back')">BACK</button>
    </div>
</div>
