<div ng-controller="OsCtrl">
    <ul class="list-unstyled">
        <li>
            System:  {{osInfo.hostname}} / {{osInfo.type}} {{osInfo.arch}}
        </li>
        <li>
            Uptime:  {{osInfo.uptime}}
        </li>
        <li>
            Memory:  {{osInfo.freemem}} / {{osInfo.totalmem}}
        </li>
        <li>
            Load:  1min: {{osInfo.loadavg[0]}} - 5min: {{osInfo.loadavg[1]}} - 15min: {{osInfo.loadavg[2]}}
        </li>
        <li>
            Interfaces:  {{printInterfaces()}}
        </li>

    </ul>
    SSID: <input type="text" ng-model="wlanId" />
    Passwort: <input type="password" ng-model="wlanPasswd" />
    <div class="buttons">
        <button class="btn" ng-click="shutdown()">SHUTDOWN</button>
        <button class="btn" ng-click="restartWlan1()">RESTART WLAN</button>
    </div>
</div>