<table>
    <tr>
        <td>Text:</td>
        <td>
<span editable-textarea="item.text"
      e-rows="7" e-cols="40" e-name="text"
      onaftersave="saveItem()">
          {{ item.text || 'kein Text' }}
        </span>
        </td>
    </tr>
    <tr>
        <td>Zeit:</td>
        <td>
<span editable-textarea="item.time"
      e-rows="1" e-cols="4" e-name="time"
      onaftersave="saveItem()">
          {{ item.time || 'not set' }}
        </span>
        </td>
    </tr>
    <tr>
        <td>Nötige Stimmen:</td>
        <td>
<span editable-textarea="item.opts[1]"
      e-rows="1" e-cols="4" e-name="complete"
      onaftersave="saveItem()">
          {{ item.opts[1] || 'not set' }}%
        </span>
        </td>
    </tr>
    <tr ng-show="item.opts[0] == 'customMultipleOptions' || item.opts[0]=='countryChoice'">
        <td>Anzahl Stimmen:</td>
        <td>
    <span editable-text="item.voteMulti" e-name="voteMulti" onaftersave="saveItem()">
          {{ item.voteMulti || '1' }}
        </span>
        </td>
    </tr>
    <tr>
        <td>Art:</td>
        <td>
        <span editable-select="item.opts[0]" e-name="voteType"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in voteTypes"
                >
          {{ showVoteType(item) }}
        </span>
        </td>
    </tr>
    <tr ng-show="item.opts[0]=='countryChoice'">
        <td>Sprache:</td>
        <td>
        <span editable-select="item.opts[2]" e-name="language"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in languages"
                >
          {{ showLanguage(item) }}
        </span>
        </td>
    </tr>
    <tr>
        <td>mit Rating:</td>
        <td><span editable-checkbox="item.flags[0]" e-name="voteFlag" onaftersave="saveItem()">
          {{ item.flags[0] || 'nein' }}
        </span>
        </td>
    </tr>
    <tr ng-show="(item.opts[0] == 'customOptions' || item.opts[0] == 'customMultipleOptions')">
        <td>Optionen:</td>
        <td>
            <table class="table">
                <tbody show-vote-option>
                </tbody>
            </table>

            <button class="btn" ng-click="addVoteOption($index)">Neue Option</button>
        </td>
    </tr>
</table>
