
.content {
    background-color: inherit;
    #padding-top: 30px;
    font-size: 1.2em;
}

.wide-list li {
    margin: 0.8em;
}

.pie-legend {
    padding: 0;
}

.pie-legend li {
    white-space: normal !important;
}

.row1 {
    height: 50%;
}

.row2 {
    height: 50%;
}

.navbarbtn {
    height: 50px;
    padding: 12px;
    font-size: 1.5em;
    float: left;
}
.bigger {
    font-size: 1.5em;
}
.player-grid {
    padding-top: 10px;
    font-size: 1.3em;
}

.player-grid-item {
    margin-bottom: 15px;

}
.player-grid-buttons {
    font-size: 0.8em;
    margin-top: 5px;
}

.player-grid-buttons button {
    padding: 0;
    border: none;
    background: inherit;
}

.badge-notification {
    background-color: red;
    color:white;
    font-size:0.6em;
    font-weight:bold;
    position:relative;
    right:2em;
    margin-right: -2em;
    top:-1em;

}

.badge-flag-notification {
    background-color: red;
    color: white;
    font-size:0.8em;
    font-weight: bold;
    position: relative;
    bottom: 55px;
    left: 40px;
}

.margin-top {
    margin-top: 1em;
}

.rotDiv {
    position:relative;
    top: 100px;
    font-size: 2em;
}