.player-icon-mirko {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
}

.player-icon {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-image: url('/homevisit_components/svg/player-icon.svg');
}

.player-icon-big {
    width: 100px;
    height: 80px;
    font-size: 2em;
}

.player-icon-med {
    width: 80px;
    height: 64px;
    font-size: 1.6em;
}

.player-icon-xs {
    width: 25px;
    height: 20px;
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
}

.player-icon-xs .player-icon-text {
    display: none;
}

.player-icon-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-icon-text {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}


.player-icon-transclude {
    width: 100%;
    display: none;
}

.player-icon-badge .player-icon-transclude {
    display: block;
    text-align: center;
}

.player-icon-badge .player-icon-text {
    display: none;
}

.player-icon-selected {
    border: 10px solid rgb(205, 205, 205);
}
