<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <title>homeVisitMC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/mc/css/main.css">
    <link rel="stylesheet" href="/mc/css/results.css"/>
    <link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css">
</head>
<body ng-app="homeVisitMCApp">

<div class="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">MC</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: isActive('/polls')}">
                        <a href="#/polls" translate>Polls</a>
                    </li>
                    <li ng-class="{active: isActive('/players')}">
                        <a ng-href="#/players" translate>Game</a>
                    </li>
                    <li ng-class="{active: isActive('/matching')}">
                        <a ng-href="#/matching" translate>Matching</a>
                    </li>
                    <li ng-class="{active: isActive('/settings')}">
                        <a ng-href="#/settings" translate>Settings</a>
                    </li>
                    <li ng-controller="PlaybackCtrl">
                        <p ng-if="!session.currentSession" class="navbar-text session-warning" translate>
                            ← Select game session!
                        </p>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="PlaybackCtrl">
                     <li>
                        <a class="btn btn-success btn-go" ng-hide="deck.nextJump === null" ng-click="playback('jump', 0)" translate>JUMP to {{deck.nextJump}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="PlaybackCtrl" ng-hide="isActive('/players')">
                    <li>
                        <a class="btn btn-danger btn-alarm" ng-click="alert()" translate>ALARM</a>
                    </li>
                    <li>
                        <p class="navbar-text">&nbsp;</a>
                    </li>
                    <li>
                        <p class="navbar-text">&nbsp;</a>
                    </li>
                    <li>
                        <a class="btn btn-success btn-go" ng-click="playback('go', 0)" translate>GO</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid app-content">
    <div ng-view=""></div>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
<script src="/bower_components/Chart.js/Chart.js"></script>
<script src="/bower_components/angular-chart.js/angular-chart.js"></script>

<script src="/homevisit_components/hvPlayerColors.js"></script>
<script src="/homevisit_components/websocketServices.js"></script>
<script src="/homevisit_components/hvSetFactory.js"></script>
<script src="/homevisit_components/hvItemOptions.js"></script>
<script src="/homevisit_components/hvLanguage.js"></script>
<script src="/homevisit_components/translations.js"></script>

<script src="/mc/js/app.js"></script>
<script src="/mc/js/controllers/nav.js"></script>
<script src="/mc/js/controllers/dummies.js"></script>
<script src="/mc/js/controllers/players.js"></script>
<script src="/mc/js/controllers/matching.js"></script>
<script src="/mc/js/controllers/playback.js"></script>
<script src="/mc/js/controllers/deck.js"></script>
<script src="/mc/js/controllers/item.js"></script>
<script src="/mc/js/services/mcAppServices.js"></script>
<script src="/mc/js/directives/mcDirectives.js"></script>
<script src="/mc/js/directives/playerDirectives.js"></script>
</body>
</html>
