#wrapper{
    min-width: 2800px;
}

.playerAppFrame {
    width: 326px;
    height: 555px;
    border: 0;
}
.playerAppDiv{
    position: relative;
    transform: scale(0.7);
    transform-origin: 0 0;
    float:left;
}
.playerAppDiv button {
    font-size: 20px;
}
