
.content {
    background-color: inherit;
    #padding-top: 30px;
    font-size: 1.6em;
}

.wide-list li{
    margin: 0.8em;
}

.pie-legend {
    padding: 0;
}
.pie-legend li{
    white-space: normal !important;
}

.row1 {
    height: 50%;
}
.row2 {
    height: 50%;
}

.navbarbtn {
    height:50px;
    padding: 12px;
    font-size: 1.5em;
    float: left;
}