<div class="player-grid">
    <div class="col-xs-6 player-grid-item" ng-repeat="player in getPlayersOrdered() track by $index">
        <a href="#/home/{{player.playerId}}">
            <div ng-style="{'height': '40px'}">
                <div class="row1" ng-style="colors[player.colors[0]]">
                </div>
                <div class="row2" ng-style="colors[player.colors[1]]">
                </div>
            </div>
        </a>
        Platz: {{player.rank}}
        Punkte: {{player.score}}
    </div>
</div>
