.deal-title {
    font-size: 20px;
    font-weight: bold;
}
.deal-messages-history {
    font-size: 14px;
    margin-bottom: 15px;
}

.deal-messages-new button {
    margin-bottom: 10px;
}

.deal .fa-exchange {
    vertical-align: middle;
}
