html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.btn {
    white-space: normal;
}

.turn {
    transform: rotate(90deg) translate(112px, 112px);
    width: 544px;
    height: 320px;
}

.no-turn {
    width: 544px;
    height: 320px;
}

.app {
    height: 100%;
    border: solid 5px grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    #background-color: #006699;
    font-size: 18px;
    flex: 24 1 auto;
}

.view-content {
    overflow: auto;
}

.wide-list li {
    margin: 0.8em;
}

.bigger {
    font-size: 1.5em;
}

.player-icon-mirko {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
}

.player-icon {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-image: url('../svg/player-icon.svg');
}

.player-icon-big {
    width: 100px;
    height: 80px;
    font-size: 2em;
}

.player-icon-med {
    width: 80px;
    height: 64px;
    font-size: 1.6em;
}

.player-icon-xs {
    width: 25px;
    height: 20px;
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
}

.player-icon-xs .player-icon-text {
    display: none;
}

.player-icon-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-icon-text {
    width: 100%;
    font-size: 0.7em;
}


.player-icon-transclude {
    width: 100%;
    display: none;
}

.player-icon-badge .player-icon-transclude {
    display: block;
    text-align: center;
}

.player-icon-badge .player-icon-text {
    display: none;
}


.rotDiv {
    position: relative;
    top: 100px;
    font-size: 2em;
}

.europeMap {
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.overlayText {
    position: fixed;
    z-index: 200;
}

#de {
    fill: red;
}

.chart-xx {
    width: 200px;
    margin: auto;
}

.red {
    color: red;
}

.green {
    color: forestgreen;
}

.card-text ul {
    width: 100%;
}

.ui-keyboard {
    position: static;
}

.ui-keyboard .disp {
    border: 1px solid grey;
    margin: 8px auto;
    height: 28px;
    line-height: 28px;
    width: 40%;
    padding: 0;
}

.ui-keyboard .btn {
    margin: 0 .25em 0.7em;
    width: 52px;
}

.view-content .smaller .left-pane {
    line-height: 1.2em;
}

.view-content .smaller .right-pane button {
    line-height: 1.2em;
}
