.results {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-size: 0.8em;
}

.results-text {
    flex: 1 1 auto;
    text-align: center;
    max-width: 100%;
}
.results-text ul {
    margin: 0px;
    padding: 10px;
}
.correct-answer {
    color: #008800;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    /*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.results .table.results {
    width: 50%;
    font-size: 130%;
}

.results .table.results tr:first-child > td {
    border-top: none;
}

.results .table.results .resultslabel {
    text-align: left;
}

.results .table.results .value {
    text-align: right;
    font-weight: bold;
}

.results-content {
    display: flex;
    #background: #e838ff;
    flex: 4 1 auto;
    font-size: 0.9em;
}
.chart-container {
    display: flex;
    align-items: center;
}

.chart-container .chart-base {
    flex: 1 1 auto;
    height: auto !important;
}

chart-legend {
    width: 50%;
    flex: 1 1 auto;
}

ul {
    padding-left: 10px;
}


.chart-container .pie-legend {
     text-align: left;
}

.pie-legend li {
    white-space: normal !important;
}

.noflex {
    display: block;
}
