#score_stats {
    position: relative;
    top: 10px;
    text-align: left;
    font-weight: bold;
}

.score {
    position: relative;
    width: 80px;
    height: 300px;
    flex: 1 0 auto;
    padding-left: 20px;
}

.score_stats_entry {
    line-height: 20px;
}

.score_stats_entry .rank_display, .score_stats_entry .score_display {
    white-space: nowrap;
}

#score_barometer {
    /*background: #fff;*/
    position: absolute;
    top: 95px;
    width: 70px;
    min-height: 1px;
}

#baro_zero_line {
    position: absolute;
    left: -3px;
    width: 33px;
    height: 1px;
    z-index: -6;
    border-top: 2px dotted #333;
}

#baro_zero {
    position: absolute;
    left: -12px;
    z-index: -5;
    margin-top: -9px;
    font-weight: bold;
    color: #333;
}

#baro_vert_line {
    background: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    min-height: 1px;
    z-index: 1;
}

#baro_top_line {
    background: #737373;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 2px;
    min-height: 1px;
}

#baro_bottom_line {
    background: #737373;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    min-height: 1px;
}

.baro_others_line {
    background: #737373;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    min-height: 1px;
    z-index: -4;
}

.baro_my_line {
    background: #555;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    min-height: 1px;
}

.score_label {
    background: #737373;
    position: absolute;
    left: 20px;
    top: -14px;
    color: #fff;
    padding: 1px 7px 1px 7px;
    font-size: 0.8em;
    margin-top: 6px;
    min-width: 25px;
    border-radius: 5px;
    text-align: right;
}

.my_score_label {
    position: absolute;
    left: 20px;
    top: -14px;
    color: #fff;
    padding: 1px 7px 1px 7px;
    font-size: 0.8em;
    margin-top: 4px;
    border-radius: 5px;
    text-align: right;
    min-width: 25px;
}

.my_score_label_top {
    position: absolute;
    /*height: 11px;*/
    height: 20px;
    width: 30px;
    top: -14px;
    left: 20px;
    margin-top: 3px;
    border-radius: 5px;
}
.my_score_label_bottom {
    position: absolute;
    height: 10px;
    width: 30px;
    top: -3px;
    left: 20px;
}

#score_inventory {
    position: relative;
    top: 15px;
    left: 190px;
    text-align: left;
    width: 100px;
}

.score_inv_plus {
    position: absolute;
    width: 50px;
}
.score_inv_minus {
    position: absolute;
    width: 50px;
    left: 55px;
}
.score_inv_entry {
    padding: 0px 2px 2px 0px;
}

.donate_question {
    font-size: 1.2em;
    padding: 10px;
}
