<div>
    <div ng-switch="traitor">
        <div ng-switch-when="false">
            <div translate>
              <ul class="list-inline">
                <li ng-repeat="pid in playerIds">
                  <player-icon pid="pid"></player-icon>
                </li>
              </ul>
              should get {{score}} point from you?
            </div> 
            <div>
                <button class="btn btn-default" ng-click="confirm()" translate>Confirm</button>
                <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
            </div>
        </div>
        <div ng-switch-when="true">
            <span translate>Traitor! You can't score down your allied!</span>
            <button class="btn btn-default" ng-click="cancel()" translate>Back</button>
        </div>
    </div>
</div>
