<div>
    <div ng-switch="traitor">
        <div ng-switch-when="false">
            <div>
                <ul class="list-inline">
                    <li ng-repeat="pid in playerIds">
                        <player-icon class="player-icon-big" pid="pid"></player-icon>
                    </li>
                </ul>
                <span ng-if="score>0" translate-comment="A Team..." translate> gets one Point</span>
                <span ng-if="score<0" translate-comment="A Team..." translate> looses one Point</span>
            </div>
            <div>
                <button class="btn btn-primary btn-lg" ng-click="confirm()" translate>Confirm</button>
                <button class="btn btn-danger btn-lg" ng-click="cancel()" translate>Cancel</button>
            </div>
        </div>
        <div ng-switch-when="true">
            <div translate>Traitor! <br/>You can't score down your allied!</div>
            <button class="btn btn-default" ng-click="cancel()" translate>Back</button>
        </div>
    </div>
</div>
