<div class="section content" ng-switch="type">
    <div ng-switch-when="result">
        {{text[0]}}
        <canvas id="base" class="chart chart-base ng-isolate-scope" chart-type="'Pie'" data="data"
                labels="labels"
                legend="true">
        </canvas>
    </div>

    <div ng-switch-when="card">
        <ul class="list-unstyled">
            <li ng-repeat="t in text track by $index">{{t}}</li>
        </ul>
    </div>

    <div ng-switch-when="home">
        EUROPA
    </div>


    <div ng-switch-when="vote">
        <ul class="list-unstyled">
            <li ng-repeat="t in text track by $index">{{t}}</li>
        </ul>
        <div ng-switch="limit > 1">
            <ul class="list-unstyled wide-list" ng-switch-when="false">
                <li ng-repeat="opt in options track by $index">
                    <button class="btn-lg" ng-click="vote($index)">{{opt.text}}</button>
                </li>
            </ul>

            <ul class="list-unstyled wide-list" ng-switch-when="true">
                <li ng-repeat="opt in options track by $index">
                    <input type="checkbox" ng-model="opt.checked" ng-change="checkChanged(opt)"
                           ng-disabled="checked==limit && !opt.checked"/>
                    {{opt.text}}
                </li>
                <li>
                    <button ng-click="vote()">VOTE</button>
                </li>
            </ul>
        </div>
    </div>
</div>
