<div>
    <table class="table">
        <col width="40%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <tr>
            <th>Player</th>
            <th colspan="3">Your Rating</th>
        </tr>
        <tr ng-repeat="rating in avgRatings track by $index">
            <td>
                <div ng-style="{'height': '40px', 'width':'80px'}">
                    <div class="row1" ng-style="colors[playerColors[$index][0]]">
                    </div>
                    <div class="row2" ng-style="colors[playerColors[$index][1]]"></div>
                    <div ng-style="{'font-weight':'bold', 'position':'relative', 'bottom':'35px'}">
                        {{moodys[avgRatings[$index]]}}
                    </div>
                </div>
            </td>
            <td>
                <button ng-show="ratingActive" ng-disabled="myRatings[$index]>=8"
                        ng-click="rate($index, 1)">+
                </button>
            </td>
            <td>
                <span>{{moodys[myRatings[$index]]}}</span>
            </td>
            <td>
                <button ng-show="ratingActive" ng-disabled="myRatings[$index]<=0"
                        ng-click="rate($index, -1)">-
                </button>
            </td>
        </tr>
    </table>
