<div>
    <div class="section"> You are rated: <strong>{{moodys[rating.avgRatings[status.player.playerId]]}} </strong></div>
    <table class="table">
        <col width="40%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <tr>
            <th>Player</th>
            <th colspan="3">Your Rating</th>
        </tr>
        <tr ng-repeat="player in status.otherPlayers | filter:isOtherPlayer track by $index">
            <td>
                <div ng-style="{'height': '40px', 'width':'80px'}">
                    <div class="row1" ng-style="colors[playerColors[player.playerId][0]]">
                    </div>
                    <div class="row2" ng-style="colors[playerColors[player.playerId][1]]"></div>
                    <div ng-style="{'font-weight':'bold', 'position':'relative', 'bottom':'35px'}">
                        {{moodys[rating.avgRatings[player.playerId]]}}
                    </div>
                </div>
            </td>
            <td>
                <button ng-show="status.ratingActive && status.joined" ng-disabled="myRatings[player.playerId]>=8"
                        ng-click="rate(player.playerId, 1)">+
                </button>
            </td>
            <td>
                <span ng-show="status.joined">{{moodys[myRatings[player.playerId]]}}</span>
            </td>
            <td>
                <button ng-show="status.ratingActive && status.joined" ng-disabled="myRatings[player.playerId]<=0"
                        ng-click="rate(player.playerId, -1)">-
                </button>
            </td>
        </tr>
    </table>
</div>