<div class="deal">
    <div class="" ng-if="deal == null" translate>
        This deal does not exist!
    </div>
    <div class="deal-details" ng-if="deal != null">
        <div class="deal-title">Deal-a-{{deal.subject}}</div>

        <div class="deal-content">
            <div>
                <player-icon class="player-icon-med" pid="deal.player0Id"></player-icon>
                <-->
                <player-icon class="player-icon-med" pid="deal.player1Id"></player-icon>
            </div>

            <div class="deal-messages-outer1" ng-switch="getMyDealState()<3">
                <div class="deal-messages-outer2" ng-switch-when="true">
                    <div class="deal-messages">
                        <div class="deal-messages-history">
                            <div ng-repeat="message in deal.messages track by $index"
                                 ng-controller="DealMessageController">

                                <player-icon class="player-icon-xs" pid="message.playerId"></player-icon>
                                {{getMessageText()[0]}}
                            </div>
                        </div>
                        <div ng-if="getMyDealState()===1" translate>Waiting for reply...</div>
                        <div class="form-group deal-messages-new">
                            <div ng-repeat="message in getMessageOptions() track by $index"
                                 ng-controller="DealMessageController">
                                <button class="btn btn-default" ng-click="sendMessage()">
                                    {{getMessageText()[0]}}
                                </button>

                                <!--
                            <p ng-show="message.type === 'request'">
                                <button class="btn btn-default" ng-click="changeValue(-1)">-</button>
                                {{getMessageText()[1]}}
                                <button class="btn btn-default" ng-click="changeValue(1)">+</button>
                                </p>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="false">
                    <div ng-if="getMyDealState()===3" translate>This deal is ACTIVE.</div>
                    <div ng-if="getMyDealState()===4" translate>This deal was DENIED.</div>
                </div>
                <div ng-if="getMyDealState()===4">
                    <a class="btn btn-default" href="{{'#/deals/new/' + dealFactory.subject}}" translate>
                        Try Again
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
