<div class="deal">
    <div class="deal-details">
        <div class="deal-title" translate>Treaty</div>

        <div class="deal-content">
            <deal-header pid0="status.player.playerId" pid1="playerId"></deal-header>
            <ul class="list-unstyled wide-list">
                <li>
                    <button class="btn btn-primary btn-lg" ng-click="requestDeal()" translate>
                        Request
                    </button>
                </li>
                <li>
                    <a class="btn btn-danger btn-lg" href="#/deal" translate>
                        Cancel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
