<div ng-if="!nothing">
    <h3 ng-if="home.assholeOptions !== 'worst'" translate-comment="they took points from you" translate>These teams were mean to you:</h3>

    <h3 ng-if="home.assholeOptions === 'worst'" translate-comment="they took points from you" translate>The worst team was mean to you:</h3>
    <ul class="list-unstyled">
        <li ng-repeat="minuspoints in home.assholeData track by $index">
            <div class="mean_list" ng-hide="(minuspoints === 0) || ($index === status.player.playerId)">
                <player-icon pid="$index"></player-icon>
                <div translate-comment="everything in curly braces has to stay as is" translate translate-n="minuspoints" translate-plural="{{minuspoints}} minus points">{{minuspoints}} minus point</div>
            </div>
        </li>
    </ul>
</div>
<p ng-if="nothing && home.assholeOptions !== 'worst'" translate>Nobody was mean to you.</p>
<p ng-if="nothing && home.assholeOptions === 'worst'" translate>The worst team was not mean to you.</p>
