<!--
<div id="deal-overview" class="left-pane">
    <table class="list-unstyled">
        <tr ng-repeat="deal in deals" ng-click="openDeal(deal)">
            <td>{{deal.subject}}</td>
            <td>mit Spieler {{deal.player1Id}}</td>
            <td>{{getDealStateText(deal)}}</td>
        </tr>
        <tr>
            <td>
                <button ng-click="addDeal()">New Deal</button>
            </td>
        </tr>
    </table>
</div>
-->

<div id="deal-details" class="right-pane" ng-controller="DealDetailsController">
    <h3>Make-a-Deal</h3>

    <div ng-if="active.deal !== null">
        <div ng-switch="active.deal.subject === null">
            <div ng-switch-when="true">
                choose subject
            </div>
            <div ng-switch-default>
                <h4>{{active.deal.subject}}</h4>

                <div ng-switch="active.deal.player1Id === null">
                    <div ng-switch-when="true">
                        choose a team to deal with:
                        <ul class="list-inline list-unstyled">
                            <li ng-repeat="player in status.getAvailablePlayers()"
                                ng-click="choosePlayerForDeal(player)">
                                <player-icon pid="player.playerId"></player-icon>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-default>
                        <player-icon class="player-icon-med" pid="active.deal.player0Id"></player-icon>
                        <-->
                        <player-icon class="player-icon-med" pid="active.deal.player1Id"></player-icon>

                        <div ng-switch="getMyDealState(active.deal)<3">
                            <div ng-switch-when="true">
                                <ul class="list-unstyled">
                                    <li ng-repeat="message in active.deal.messages track by $index">
                                        <player-icon class="player-icon-xs" pid="message.playerId"></player-icon>
                                        {{getMessageText(message)}}
                                    </li>
                                </ul>
                                <div ng-if="getMyDealState(active.deal)===1">We are waiting for a reply.</div>
                                <div ng-if="getMyDealState(active.deal)===0 || getMyDealState(active.deal)===2">
                                    <ul class="list-unstyled wide-list">
                                        <li ng-hide="active.deal.messages.length > active.deal.maxMessages-1">
                                            <button class="btn-lg" ng-click="sendMessageForDeal('request')">
                                                {{getRequestMessage(message)[0]}}
                                            </button>
                                            <p>
                                                <button class="btn" ng-click="decreaseValue()">-</button>
                                                {{getRequestMessage(message)[1]}}
                                                <button class="btn" ng-click="increaseValue()">+</button>
                                            </p>
                                        </li>
                                        <li ng-hide="getMyDealState(active.deal)===0">
                                            <button class="btn-lg" ng-click="sendMessageForDeal('deny')">Deny</button>
                                        </li>
                                        <li ng-hide="getMyDealState(active.deal)===0">
                                            <button class="btn-lg" ng-click="sendMessageForDeal('confirm')">Confirm
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                                <div ng-hide="getMyDealState(active.deal)===2">
                                    <button class="btn-lg" ng-click="cancelDeal(active.deal)">Cancel</button>
                                </div>
                                <div ng-if="getMyDealState(active.deal)===0 || getMyDealState(active.deal)===2">
                                </div>
                            </div>
                            <div ng-switch-when="false">
                                <div ng-if="getMyDealState(active.deal)===3">This Deal is ACTIVE.</div>
                                <div ng-if="getMyDealState(active.deal)===4">This Deal was DENIED.</div>
                                <div>
                                    <button class="btn-lg" ng-click="addDeal('insurance')">New Deal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
