<div class="playback-control" ng-if="home.showGo"><button class="btn-lg" ng-click="go()" translate>Next</button></div>
<div class="section content" ng-switch="home.type" ng-show="status.joined">

    <div ng-switch-when="card">
        <ul class="list-unstyled">
            <li ng-repeat="t in home.text track by $index">{{t}}</li>
        </ul>
        <!--
        directive:
        <ul class="list-unstyled">
            <li ng-repeat="t in home.text track by $index">
                <card text="t"></card>
            </li>
        </ul>
        -->
    </div>

    <div ng-switch-when="home" translate>EUROPE</div>

    <div ng-switch-when="browser">
        <div class="mep">
            <div ng-include="home.text"></div>
        </div>
    </div>
</div>
