<div ng-class="{ smaller: smaller }">
    <div class="left-pane">
        <ul class="list-unstyled">
            <li>{{home.text}} <player-app-icon icon="home.icon"></player-app-icon>
            </li>
            <li ng-if="home.ratedVote" class="red" translate>Your voting weight depends on your rank!</li>
        </ul>
    </div>
    <div class="right-pane">
        <div>
            <div ng-if="['customOptions', 'customMultipleOptions', 'countryChoice'].indexOf(home.voteType) != -1" ng-switch="home.limit > 1">
                <ul class="list-unstyled wide-list" ng-switch-when="false">
                    <li ng-repeat="opt in home.options track by $index">
                        <button class="btn btn-default" ng-click="vote($index)">{{opt.text}}</button>
                    </li>
                </ul>
                <ul class="list-unstyled wide-list" ng-switch-when="true">
                    <li>
                        <button ng-click="vote()" translate>VOTE</button>
                    </li>
                    <li ng-repeat="opt in home.options track by $index">
                        <input type="checkbox" id="{{opt.val}}" ng-model="opt.checked" ng-change="checkChanged(opt)"
                               ng-disabled="home.checked>=home.limit && !opt.checked"/>
                        <label for="{{opt.val}}">{{opt.text}}</label>
                    </li>
                </ul>
            </div>
            <div ng-if="home.voteType == 'playerChoice'">
                <ul class="list-inline list-unstyled">
                    <li ng-repeat="player in home.options track by $index">
                        <span ng-click="vote($index)">
                            <player-icon pid="player.value"></player-icon>
                        </span>
                    </li>
                </ul>
            </div>
            <keypad currency="true" submit="submitNumber(number)" ng-if="home.voteType == 'enterNumber'"></keypad>
        </div>
    </div>
</div>
