body {
  padding: 0;
}

.navbar {
  margin-bottom: 0px;
}

.app-content {
  position: relative;
  height: 650px;
  width: 1280px;
}

.dummy {
  border-radius: 10px;
  position: absolute;
  border: solid 1px;
  width: 150px;
  height: 150px;
}

.player {
  border-radius: 10px;
  position: absolute;
  border: solid 1px;
  width: 300px;
  height: 150px;
  font-size: 1.3em;
}

.dimm {
  color: #cccccc;
  background: #eee !important;
}

.selected {
  border-color: #f00 !important;
  background: #fcc !important;
}

.onTurn {
  border-color: #f00 !important;
  border-width: 3px !important;
  background: #fcc !important;
}

.upcoming {
  border-color: #f00 !important;
  border-width: 3px !important;
}

.table-display {
  border-radius: 10px;
  position:absolute;
  top: 170px;
  left:180px;
  width: 920px;
  height: 310px;
  border: solid 1px;
  font-size: 1.5em;
  overflow: scroll;
}

.table-display-players {
  border-radius: 10px;
  position:absolute;
  top: 170px;
  left:15px;
  width: 1245px;
  height: 310px;
  border: solid 1px;
  font-size: 1.3em;
  overflow: scroll;
}

.finger {
  background: lightgray;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-top: 5px;
  position: relative;
  left: -10px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 30px;}

.binary {
  background: lightgray;
  height: 80px;
  width: 55px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: -15px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 40px;
  margin-right: 10px;
}
.selectedRow {
  background: lightgray;
}
.selectedFinger {
  background: red;
}

.selectedFinger_neg {
  background: #ef6850;
}

.selectedFinger_pos {
  background: #9cc45a;
}

.matching {
  background: #9cc45a;
}

.matching_green {
  background: #9cc45a;
}

.matching_yellow {
  background: #fd0;
}

.matchedUp {
  background: #f88;
  color: #fff;
}

.black {
  background: #000;
}

.unknownAnswer {
  background-color: aquamarine;
}

.mcnote {
  color: #f00;
}

.btn-big {
  font-size: 2em;
}

.btn-middle-big {
  font-size: 1.5em;
}

.right-aligned {
  float:right;
}

.game_sequence_item {
  width: 100%;
}

.next_sequence_item {
  border-color: #0a0;
  border-width: 3px;
}