body {
  padding: 60px 0 0 0;
  overflow: hidden;
}

.navbar {
  margin-bottom: 0px;
}

.btn-alarm, .btn-go {
    color: white !important;
}

.btn-alarm:active, .btn-alarm:hover {
    background-color: #d9534f !important;
}

.btn-go:active, .btn-go:hover {
    background-color: #5cb85c !important;
}

.app-content {
  position: relative;
  height: 620px;
  width: 1280px;
}

.dummy {
  border-radius: 10px;
  position: absolute;
  border: solid 1px;
  width: 150px;
  height: 150px;
}

.dummy_special {
  background: #fd0;
  border: solid 2px;
}

.player {
  border-radius: 10px;
  position: absolute;
  border: solid 1px;
  width: 300px;
  height: 150px;
  font-size: 1.3em;
}

.dimm {
  color: #cccccc;
  background: #eee !important;
}

.selected {
  border-color: #f00 !important;
  background: #fcc !important;
}

.onTurn {
  border-color: #f00 !important;
  border-width: 3px !important;
  background: #fcc !important;
}

.upcoming {
  border-color: #f00 !important;
  border-width: 3px !important;
}

.table-display {
  border-radius: 10px;
  position:absolute;
  top: 170px;
  left:180px;
  width: 920px;
  height: 310px;
  border: solid 1px;
  font-size: 1.5em;
  overflow: scroll;
}

.table-display-players {
  border-radius: 10px;
  position:absolute;
  top: 164px;
  left:15px;
  width: 1245px;
  height: 310px;
  border: solid 1px;
  font-size: 1.3em;
  overflow: hidden;
}

.finger {
  background: lightgray;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-top: 5px;
  position: relative;
  left: -10px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 30px;}

.binary {
  background: lightgray;
  height: 80px;
  width: 55px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: -15px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 40px;
  margin-right: 10px;
}
.selectedRow {
  background: lightgray;
}
.selectedFinger {
  background: red;
}

.selectedFinger_neg {
  background: #ef6850;
}

.selectedFinger_pos {
  background: #9cc45a;
}

.matching {
  background: #9cc45a;
}

.matching_green {
  background: #9cc45a;
}

.matching_yellow {
  background: #fd0;
}

.matchedUp {
  background: #f88;
  color: #fff;
}

.black {
  background: #000;
}

.unknownAnswer {
  background-color: aquamarine;
}

.mcnote {
  color: #f00;
}

.btn-big {
  font-size: 2em;
}

.btn-middle-big {
  font-size: 1.5em;
}

.right-aligned {
  float:right;
}

.playback {
  height: 310px;
  position: relative;
}

.playback > div {
    height: 100%;
}

.playback > div > ul {
    height: 100%;
}

.game_sequence_item {
  position: relative;
  width: 33%;
  height: 100%;
  float: left;
}

.game_sequence_item_previous * {
  opacity: 0.75;
}

.game_sequence_item_current {
  width: 34%;
  background: aliceblue;
  border-color: #0a0;
  border-width: 3px;
}

.game_sequence_item_next {
}

.sequence-label {
    float: right;
}

.content {
    height: 262px;
    display: flex;
    flex-direction: column;
}

.content > * {
    overflow-x: hidden;
    overflow-y: auto;
}

.type {
    font-weight: bold;
}

.inline-options {
    margin: 10px 0;
}