<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <button title="{{ 'Refresh' | translate }}" class="btn btn-sm btn-default"><i class="fa fa-refresh"
                                                                                          ng-click="requestServerInfo()"></i>
            </button>
        </div>
        <h1 class="panel-title" translate>BRAIN Control</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-click="collapsed.server = !collapsed.server"
            ng-class="{ 'text-danger': !socket.connected(), bubble: !systemInfo.dbStatus.socket.connected() }">
            <i class="fa fa-circle"
               ng-class="{'text-success': socket.server.connected, 'text-danger': !socket.server.connected}"></i>

            <span>Brain:</span> {{socket.server.connected ? "connected" : "not connected"}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': !collapsed.server, 'glyphicon-chevron-right': collapsed.server}"></i>
            <ul class="list-group" collapse="collapsed.server">
                <li class="list-group-item"></li>
                <li class="list-group-item buttons">
                    <button class="btn btn-danger" ng-click="restartServer()" translate>RESTART SERVER</button>
                </li>
            </ul>
        </li>
        <li class="list-group-item" ng-click="collapsed.db = !collapsed.db"
            ng-class="{ 'text-danger': !systemInfo.dbStatus.connected, bubble: !systemInfo.dbStatus.connected }">
            <i class="fa fa-circle"
               ng-class="{'text-success': systemInfo.dbStatus.connected, 'text-danger': !systemInfo.dbStatus.connected}"></i>

            <span>DB: </span>{{systemInfo.dbStatus.connected ? "connected" : "not connected"}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': !collapsed.db, 'glyphicon-chevron-right': collapsed.db}"></i>
            <ul class="list-group" collapse="collapsed.db">
                <li class="list-group-item"></li>
                <li class="list-group-item buttons">
                    <button class="btn btn-primary" ng-click="dbAction('connect')" translate>CONNECT DB</button>
                    <button class="btn btn-info" ng-click="dbAction('repair')" translate>REPAIR DB</button>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <div ng-click="collapsed.wlan1 = !collapsed.wlan1">
                <i class="fa fa-circle"
                   ng-class="{'text-success': systemInfo.osInfo.online, 'text-danger': !systemInfo.osInfo.online}"
                   ng-attr-title="{{systemInfo.osInfo.online && 'Online' || 'Offline' }}"></i>
                <span>WiFi-Internet</span> {{printInterfaces('wlan1')}} {{message}}
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': !collapsed.wlan1, 'glyphicon-chevron-right': collapsed.wlan1}"></i>
            </div>
            <ul class="list-group" collapse="collapsed.wlan1">
                <li class="list-group-item">
                    Available Networks:
                    <ul class="list-unstyled">
                        <li ng-repeat="wifi in systemInfo.wifiList track by $index">
                            <a ng-click="connectWifi($index)">{{wifi}}</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary" ng-click="scanWifi()" translate>SCAN</button>
                </li>
                <li class="list-group-item">
                    <label for="raspi-wlan-ssid" translate>Wi-Fi name:</label>
                    <input type="text" class="form-control" id="raspi-wlan-ssid" ng-model="wlanId">
                <li class="list-group-item">
                    <label for="raspi-wlan-pwd" translate>Wi-Fi password</label>
                    <input type="password" class="form-control" id="raspi-wlan-pwd" ng-model="wlanPasswd"/>
                </li>
                <li class="list-group-item buttons">
                    <button class="btn btn-danger" ng-click="restartWlan1()" translate>RESTART WI-FI</button>
                </li>
            </ul>
        </li>
        <li class="list-group-item" ng-click="collapsed.osInfo = !collapsed.osInfo">
            <span translate>OS Info for {{systemInfo.osInfo.hostname}}</span>
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': !collapsed.osInfo, 'glyphicon-chevron-right': collapsed.osInfo}"></i>
            <ul class="list-unstyled" collapse="collapsed.osInfo">
                <li>
                    <table class="table">
                        <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td translate>System</td>
                            <td><samp>{{systemInfo.osInfo.hostname}} / {{systemInfo.osInfo.type}} {{systemInfo.osInfo.arch}}</samp></td>
                        </tr>
                        <tr>
                            <td translate>Uptime</td>
                            <td>{{systemInfo.osInfo.uptime / 60 | number: 0}} min</td>
                        </tr>
                        <tr>
                            <td translate>Memory</td>
                            <td>{{ systemInfo.osInfo.freemem/(1024*1024) | number: 2 }} MiB (free)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ systemInfo.osInfo.totalmem/(1024*1024) | number: 2 }} MiB (total)</td>
                        </tr>
                        <tr>
                            <td translate>Load</td>
                            <td>1min: {{systemInfo.osInfo.loadavg[0] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5min: {{systemInfo.osInfo.loadavg[1] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>15min: {{systemInfo.osInfo.loadavg[2] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td translate>Interfaces</td>
                            <td>{{printInterfaces()}}</td>
                        </tr>
                        <tr>
                            <td translate>Online</td>
                            <td>
                                <i class="fa fa-2x fa-circle"
                                   ng-class="{'text-success': systemInfo.osInfo.online, 'text-danger': !systemInfo.osInfo.online}"
                                   ng-attr-title="{{systemInfo.osInfo.online && 'Online' || 'Offline' }}"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </li>
        <li class="list-group-item buttons panel-body">
            <button class="btn btn-danger" ng-click="shutdown(false)" translate>SHUTDOWN</button>
            <button class="btn btn-warning" ng-click="shutdown(true)" translate>REBOOT</button>
        </li>
    </ul>
</div>


