<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Playback</h3></div>
            <div class="panel-body">
                <master-buttons></master-buttons>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Konfiguration</h3></div>
            <game-conf></game-conf>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">RASPI Controll</h3></div>
            <raspi-manager></raspi-manager>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Device Manager</h3></div>
            <show-device-list></show-device-list>
        </div>
        <div class="panel panel-default" ng-controller="PlayerCtrl">
            <div class="panel-heading" ng-click="isCollapsed = !isCollapsed"><h3 class="panel-title">Player</h3></div>
            <player-list></player-list>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Log</h3></div>
            <log-display></log-display>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Direkt-Item</h3>
            </div>
            <div class="panel-body">
                <direct-item></direct-item>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stränge und Items</h3>
            </div>
            <div class="panel-body">
                <show-set></show-set>
            </div>
        </div>
    </div>
</div>
