<div>

<table class="table" ng-show="!isCollapsed">
    <tr>
        <th translate>Team ID</th>
        <th translate>Joined</th>
        <th translate>Rank</th>
        <th translate>Score</th>
        <th translate>Color</th>
        <th translate>Change score</th>
    </tr>
    <tr ng-repeat="player  in playerList track by $index" ng-click="isCollapsed = !isCollapsed">
        <td>{{player.playerId}}</td>
        <td>{{player.joined ? "Joined" : "Off"}}</td>
        <td>{{ratings[$index]}}</td>
        <td>{{player.score}}</td>
        <td ng-style="{'color':playerColors[$index]}">{{playerColors[$index]}}</td>
        <td>
            <button class="btn btn-danger" ng-click="playback('rate', { playerId: player.playerId, value: -1})">-1</button>
            <button class="btn btn-success" ng-click="playback('rate', { playerId: player.playerId, value: +1})">+1</button>
        </td>
    </tr>
</table>
</div>
