<div>

<table class="table" ng-if="!isCollapsed">
    <tr>
        <th>Team ID</th>
        <th>Joined</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Color</th>
        <th>Change score</th>
    </tr>
    <tr ng-repeat="player in playerList track by $index" ng-click="isCollapsed = !isCollapsed" ng-class="{ 'on-turn': player.onTurn }">
        <td>{{player.playerId}}</td>
        <td>{{player.joined ? "Joined" : "Off"}}</td>
        <td>{{player.rank}}</td>
        <td>{{player.score}}</td>
        <td ng-style="{'color':playerColors[$index]}">{{playerColors[$index]}}</td>
        <td>
            <button class="btn btn-danger" ng-click="playback('rate', { playerId: player.playerId, value: -1})">-1</button>
            <button class="btn btn-success" ng-click="playback('rate', { playerId: player.playerId, value: +1})">+1</button>
        </td>
    </tr>
</table>
</div>
