<ul class="list-group" ng-controller="OsCtrl">
    <li class="list-group-item" ng-click="collapsed.server = !collapsed.server"  ng-class="{ 'text-danger': !socket.getConnState(), bubble: !dbStatus.socket.getConnState() }">
        Server: {{socket.getConnState() ? "connected" : "not connected"}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': !collapsed.server, 'glyphicon-chevron-right': collapsed.server}"></i>
        <ul class="list-group" collapse="collapsed.server">
            <li class="list-group-item"></li>
            <li class="list-group-item buttons">
                <button class="btn btn-danger" ng-click="restartServer()">RESTART SERVER</button>
            </li>
        </ul>
    </li>
    <li class="list-group-item" ng-click="collapsed.osInfo = !collapsed.osInfo">
        OS Info for {{osInfo.hostname}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': !collapsed.osInfo, 'glyphicon-chevron-right': collapsed.osInfo}"></i>
        <ul class="list-unstyled" collapse="collapsed.osInfo">
            <li>
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>System</td>
                            <td><samp>{{osInfo.hostname}} / {{osInfo.type}} {{osInfo.arch}}</samp></td>
                        </tr>
                        <tr>
                            <td>Uptime</td>
                            <td>{{osInfo.uptime / 60 | number: 0}} min</td>
                        </tr>
                        <tr>
                            <td>Memory</td>
                            <td>{{ osInfo.freemem/(1024*1024) | number: 2 }} MiB (free)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ osInfo.totalmem/(1024*1024) | number: 2 }} MiB (total)</td>
                        </tr>
                        <tr>
                            <td>Load</td>
                            <td>1min: {{osInfo.loadavg[0] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5min: {{osInfo.loadavg[1] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>15min: {{osInfo.loadavg[2] | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td>Interfaces</td>
                            <td>{{printInterfaces()}}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    <li class="list-group-item">
        <div ng-click="collapsed.wlan1 = !collapsed.wlan1">WLAN: {{printInterfaces('wlan1')}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': !collapsed.wlan1, 'glyphicon-chevron-right': collapsed.wlan1}"></i></div>
        <ul class="list-group" collapse="collapsed.wlan1">
            <li class="list-group-item">
                <label for="raspi-wlan-ssid">SSID</label>
                <input type="text" class="form-control" id="raspi-wlan-ssid" ng-model="wlanId">
            <li class="list-group-item">
                <label for="raspi-wlan-pwd">Passwort</label>
                <input type="password" class="form-control" id="raspi-wlan-pwd" ng-model="wlanPasswd"/>
            </li>
            <li class="list-group-item buttons">
                <button class="btn btn-danger" ng-click="restartWlan1()">RESTART WLAN</button>
            </li>
        </ul>
    </li>
    <li class="list-group-item" ng-click="collapsed.db = !collapsed.db"  ng-class="{ 'text-danger': !dbStatus.connected, bubble: !dbStatus.connected }">
        DB: {{dbStatus.connected ? "connected" : "not connected"}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': !collapsed.db, 'glyphicon-chevron-right': collapsed.db}"></i>
        <ul class="list-group" collapse="collapsed.db">
            <li class="list-group-item"></li>
            <li class="list-group-item buttons">
                <button class="btn btn-primary" ng-click="dbAction('connect')">CONNECT DB</button>
                <button class="btn btn-info" ng-click="dbAction('repair')">REPAIR DB</button>
            </li>
        </ul>
    </li>
    <li class="list-group-item buttons panel-body">
        <button class="btn btn-danger" ng-click="shutdown(false)">SHUTDOWN</button>
        <button class="btn btn-warning" ng-click="shutdown(true)">REBOOT</button>
    </li>

</ul>
