<ul class="list-group" ng-controller="DeviceCtrl">
    <li class="list-group-item" ng-repeat="(key, value)  in deviceList | groupBy: 'role'" ng-click="isCollapsed = !isCollapsed">

        {{key}} <span class="badge pull-right">{{ value.length }}</span>

        <ul class="list-unstyled" collapse="isCollapsed">
            <li><a class="pull-right" ng-click="forceReload(key)" translate>RELOAD</a></li>
            <li ng-repeat="v in value">
                {{v.id}} - {{v.role}}
            </li>
        </ul>

    </li>
</ul>
