<div class="modal-header">
    <h3 class="modal-title">Bewege Item</h3>
</div>
<div class="modal-body">
    <select
            ng-init="result.newDeckId=deckId"
            data-ng-attr-size={{decks.length+1}}
            ng-model="result.newDeckId"
            ng-options="deck._id as deck.title for (id,deck) in decks">
    </select>
    <select
            ng-init="result.newItemId=itemId"
            data-ng-attr-size={{decks[result.newDeckId].items.length+1}}
            ng-model="result.newItemId"
            ng-options="item._id as id+') '+item.text.substr(0,50) for (id,item) in deckChoice.items">

    </select>
</div>
MOVE!! {{deckId}}/{{itemId}}
TO {{result.newDeckId}}/{{result.newItemId}}
:: {{getDeckById[result.newDeckId]._id}}
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
