<tr class="deck-table-row"
    ng-style="item.highlight ? {'background': '#FFDDDD'} : {}"
    ng-controller="itemCtrl">

    <td>{{ $index }}</td>

    <!-- item.type - für alle items -->
    <td>
        <span editable-select="item.type" e-name="type"
              onbeforesave="prepareItem($data, $index)"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in itemOptions.type">
          {{ showTextForValue(item, "type") }}
        </span> <br/><br/>
        <div ng-show="itemOptions[item.type].mappable">Mapped:<br/>
        <span editable-text="item.device" e-name="device"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in types">
          {{ item.device ? item.device : "default"}}
        </span>
        </div>
    </td>

    <!-- item.trigger + .wait - für alle items -->
    <td>
        <span editable-select="item.trigger" e-name="trigger"
              onaftersave="saveItem()"
              e-ng-options="s.value as s.text for s in itemOptions.trigger">
          {{ showTextForValue(item, "trigger") }}
        </span><br/>
        Wait: <br/><span editable-text="item.wait" e-name="wait" onaftersave="saveItem()">
          {{ item.wait || '0' }}
        </span> Sek.
    </td>

    <!-- haupt teil - für alle items von optionen aus der factory
        card: text
        vote: text + mit/ohne rating + anzahl optionen + optionen (ohne followup)
        switch: nur optionen (mit followUp)
        results: text als select
        sound: text (filename)
    -->
    <td ng-switch="item.type">
        <div show-vote-content ng-switch-when="vote"></div>
        <div show-switch-content ng-switch-when="switch"></div>
        <div show-inline-switch-content ng-switch-when="inlineSwitch"></div>
        <div show-results-content ng-switch-when="results"></div>
        <div show-sound-content ng-switch-when="sound"></div>
        <div show-cmd-content ng-switch-when="cmd"></div>
        <div show-player-direct-content ng-switch-when="playerDirect"></div>
        <div show-eval-content ng-switch-when="eval"></div>
        <div show-config-content ng-switch-when="config"></div>
        <div show-card-content ng-switch-default></div>
    </td>

    <!-- comment -->
    <td>
      <span editable-textarea="item.comment"
           e-rows="7" e-cols="30" e-name="comment"
           onaftersave="saveItem()">
        {{ item.comment || 'Kein Kommentar!' }}
      </span>
    </td>

    <!--
        <td>
            <span editable-text="item.time" e-name="time">
              {{ item.time || '' }}
            </span>
        </td>
    -->
    <td style="white-space: nowrap">
        <div class="buttons">
            <p>
                <button class="btn btn-sm btn-danger" ng-click="deleteItem($parent.$index, $index)"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <button class="btn btn-sm btn-primary" ng-click="moveItem($parent.$index, $index)"><span
                        class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
            </p>
            <p>
                <button class="btn btn-sm btn-primary" ng-click="addItem($index)"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <button class="btn btn-sm btn-primary" ng-click="toggleMarker($parent.$index, $index)"><span
                        class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>
            </p>

            <!--            <button class="btn" ng-click="addItem($parent.$index, $index)">Einfügen</button> -->
        </div>
    </td>
</tr>
