<tbody ui-sortable="sortOptions" ng-model="deck.items" id="{{ 'sort-table-'+ $index }}" ng-controller="itemCtrl">
<tr ng-repeat="item in deck.items track by $index">

    <td>{{ $index }}</td>

    <td>
        <!-- editable type (select-local) -->
        <span editable-select="item.type" e-name="type" e-form="rowform" e-ng-options="s.value as s.text for s in types">
          {{ showType(item) }}
        </span>
    </td>

    <td>
        <span editable-select="item.trigger" e-name="trigger" e-form="rowform" e-ng-options="s.value as s.text for s in trigger">
          {{ showTrigger(item) }}
        </span><br />
        Wait: <span editable-text="item.wait" e-name="wait" e-form="rowform">
          {{ item.wait || '0' }}
        </span> Sek.
    </td>

    <td ng-show="item.type=='card'||'vote'">
        <div ng-show="item.type=='vote'">Abstimmungsfrage:<br/></div>
        <!-- editable textarea -->
        <span editable-textarea="item.text" e-rows="7" e-cols="40" e-name="text1" e-form="rowform">
          {{ item.text || 'kein Text' }}
        </span>
        <div ng-show="item.type=='vote'">
            Mögliche Stimmen: <br />
        <span editable-text="item.voteMulti" e-name="voteMulti" e-form="rowform">
          {{ item.voteMulti || '' }}
        </span>
            <br/> Abstimmungsoptionen:
            <table class="table">
                <tbody show-vote-option>
                </tbody>
            </table>
            <button class="btn" ng-click="addVoteOption($parent.$index, $index)">Neue Option</button>
        </div>
    </td>

    <td ng-show="item.type=='sound'">Soundfile:
    <!-- editable Text -->
        <span editable-text="item.file" e-name="file" e-form="rowform">
          {{ item.file || 'empty' }}
        </span>
    </td>

    <td>
        <!-- editable time (text with validation) -->
        <span editable-text="item.time" e-name="time" e-form="rowform">
          {{ item.time || '' }}
        </span>
    </td>

    <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onaftersave="saveItem($parent.$index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="!item._id">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                Speichern
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                Abbrechen
            </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary" ng-click="rowform.$show()">Bearbeiten</button>
            <button class="btn btn-danger" ng-click="deleteItem($parent.$index, $index)">Löschen</button>
<!--            <button class="btn" ng-click="addItem($parent.$index, $index)">Einfügen</button> -->
        </div>
    </td>
</tr>
</tbody>
