<tbody>
    <tr>
        <th>Option</th>
        <th ng-show="item.type == 'switch'">Folge</th>
        <th></th>
    </tr>
    <tr  ng-repeat="voteOption in item.voteOptions track by $index">
        <td>
            <span editable-text="voteOption.text" e-name="text" onaftersave="saveVoteOption()">
                  {{ voteOption.text || 'empty' }}
            </span>
        </td>
        <td ng-show="item.type == 'switch'">
            <span editable-select="voteOption.followUp"
                  e-name="followUp"
                  e-ng-options="s._id as s.title for s in decks"
                  >
              {{ showFollowUp(voteOption) }}
            </span>
        </td>
        <td style="white-space: nowrap">
            <div class="buttons">
                <button class="btn btn-sm btn-danger" ng-click="deleteVoteOption($parent.$parent.$index, $parent.$index, $index)">Löschen</button>
            </div>
        </td>
    </tr>
</tbody>