<tbody>
    <tr>
        <th>Option</th>
        <th>Folge</th>
        <th></th>
    </tr>
    <tr  ng-repeat="voteOption in item.voteOptions track by $index">
        <td>
            <span editable-text="voteOption.text" e-name="text" e-form="voform">
                  {{ voteOption.text || 'empty' }}
            </span>
        </td>
        <td>
            <span editable-select="voteOption.followUp" e-name="followUp" e-form="voform" e-ng-options="s._id as s.title for s in decks">
              {{ showFollowUp(voteOption) }}
            </span>
        </td>
        <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="voform" onaftersave="saveVoteOption($parent.$parent.$index, $parent.$index)" ng-show="voform.$visible" class="form-buttons form-inline" shown="!voteOption._id">
                <button type="submit" ng-disabled="voform.$waiting" class="btn btn-primary">
                    Speichern
                </button>
                <button type="button" ng-disabled="voform.$waiting" ng-click="voform.$cancel()" class="btn btn-default">
                    Abbrechen
                </button>
            </form>
            <div class="buttons" ng-show="!voform.$visible">
                <button class="btn btn-primary" ng-click="voform.$show()">Bearbeiten</button>
                <button class="btn btn-danger" ng-click="deleteVoteOption($parent.$parent.$index, $parent.$index, $index)">Löschen</button>
            </div>
        </td>
    </tr>
</tbody>