<div class="ui-keyboard">
  <div class="disp well well-sm"></div>
  <div>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('1')">1</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('2')">2</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('3')">3</button>
  </div>
  <div>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('4')">4</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('5')">5</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('6')">6</button>
  </div>
  <div>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('7')">7</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('8')">8</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('9')">9</button>
  </div>
  <div>
    <button role="button" type="button" class="btn btn-lg btn-danger" ng-click="bksp()">←</button>
    <button role="button" type="button" class="ui-keyboard-button btn btn-lg btn-default" ng-click="enterNum('0')">0</button>
    <button role="button" type="button" class="btn btn-lg btn-primary" ng-click="accept()">✔</button>
  </div>
</div>
