<div class="player-grid">
    <div class="col-xs-6 player-grid-item" ng-repeat="player in players track by $index">
        <a href="#/{{goto}}/{{player.playerId}}">
            <div ng-style="{'height': '40px'}">
                <div class="row1" ng-style="colors[player.colors[0]]">
                </div>
                <div class="row2" ng-style="colors[player.colors[1]]">
                </div>
                        <span class="badge badge-flag-notification" ng-show="newCntPerPlayer[player.playerId]>0">
                            {{ newCntPerPlayer[player.playerId] }}</span>
            </div>
        </a>
    </div>
</div>
