<div ng-controller="ScoreController" ng-click="openGameEventModal()">
    <div id="score_stats">
        <p class="score_stats_entry">
            <span class="rank_display" translate>Rank: {{status.player.rank}}</span><br/>
            <span class="score_display" translate>Score: {{status.player.score}}</span><br/>
            <span ng-repeat="icon in status.playerAppIcons">
                <player-app-icon-full icon="icon.name" pid="icon.playerId"></player-app-icon-full>
            </span>
        </p>
    </div>
    <div id="score_barometer" ng-style="{'height': getBaroHeight()}">
        <div id="baro_vert_line" ng-style="{'height': getBaroHeight()}"></div>
        <!--<div id="baro_top_line"></div>-->
        <!--<div id="baro_bottom_line" ng-style="{'top': getBaroHeight()}"></div>-->
        <div class="baro_others_line" ng-repeat="player in status.otherJoinedPlayers track by $index"
             ng-style="{'top': getLinePos($index)}">
            <div class="score_label" ng-style="{'background':player.relations.length > 0 ? playerColors[player.playerId] : '#737373'}">
                {{player.score}}
            </div>
        </div>

        <div class="baro_my_line" ng-style="{'top': getMyLinePos()}">
            <div class="my_score_label_top" ng-style="{'background':myColor()}"></div>
            <div class="my_score_label">
                {{status.player.score}}
            </div>
        </div>
        <div id="baro_zero_line" ng-style="{'top': getPosHeight()}"></div>
        <div id="baro_zero" ng-style="{'top': getPosHeight()}">0</div>
    </div>
</div>
