<div>
    <!--{{deck.stepId}}<br/>-->
    <!--{{deck.deck.items.length}}<br/>-->
    <!--{{showTextForValue(deck.deck.items[0],'type')}}-->
    
    {{deck.deck.items[deck.stepId].text}}
    
    <ul class="list-inline">
        
        <li class="list-group-item game_sequence_item next_sequence_item" ng-if="deck.stepId + 1 < deck.deck.items.length">
            <button class="btn btn-success" ng-click="playback('go','0')">GO</button>
            Next Turn: <br/>
            
            <!--<div ng-switch="deck.deck.items[deck.stepId + 1].type">-->
                <div ng-switch="deck.nextItem.type">
                <div ng-switch-when="vote"></div>
                <div ng-switch-when="inlineSwitch">
                    <div ng-repeat="inlineDeck in deck.deck.items[deck.stepId + 1].inlineDecks track by $index">
                        <button class="btn btn-warning" ng-click="playback('go', $index)">GO Option {{$index}}</button> {{inlineDeck.items[0].text}} 
                    </div>
                </div>
                <div ng-switch-when="results">Ergebnisse</div>
                <div ng-switch-when="sound">Sound: {{deck.deck.items[deck.stepId + 1].text}}</div>
                <div ng-switch-when="cmd">Kommando</div>
                <div ng-switch-when="config">Konfiguration</div>
                <div ng-switch-when="deal">Dealen</div>
                <div ng-switch-when="rating">Bewertung</div>
                <div ng-switch-default>Text: {{deck.deck.items[deck.stepId + 1].text}}</div>
            </div>
            
            <div ng-if="deck.deck.items[deck.stepId].mcnote.length > 0" class="mcnote">
                >>> {{deck.deck.items[deck.stepId + 1].mcnote}} <<<
            </div>
            
            
            <!--Next Turn --- Type: {{showTextForValue(deck.deck.items[deck.stepId + 1],'type')}} --- Text: {{deck.deck.items[deck.stepId + 1].text}} Note: {{deck.deck.items[deck.stepId + 1].mcnote}}-->
            <!--Next Turn: {{deck.deck.items[deck.stepId + 1]}}-->
            <br/>
        </li>
        
        <li class="list-group-item game_sequence_item" ng-if="deck.stepId + 1 >= deck.deck.items.length">
            * * * T H E * * * E N D * * *
            <br/>
        </li>
        
        <br/>
        
        <li class="list-group-item game_sequence_item">
            <button class="btn btn-default" ng-click="playback('rego')">REGO</button>
            Current Turn: <br/>
            
            <div ng-switch="deck.deck.items[deck.stepId].type">
                <div ng-switch-when="vote">Players are voting</div>
                <div ng-switch-when="inlineSwitch">Inlineswitch {{deck.deck}}
                    
                </div>
                <div ng-switch-when="results">Results are displayed</div>
                <div ng-switch-when="sound">Sound is playing: {{deck.deck.items[deck.stepId].text}}</div>
                <div ng-switch-when="cmd">Command: {{deck.deck.items[deck.stepId]</div>
                <div ng-switch-when="config">Configuration: {{deck.deck.items[deck.stepId]</div>
                <div ng-switch-when="deal">Players are dealing</div>
                <div ng-switch-when="rating">Players are rating others</div>
                <div ng-switch-default>Text: {{deck.deck.items[deck.stepId].text}}</div>
            </div>
            
            <div ng-if="deck.deck.items[deck.stepId].mcnote.length > 0">
                >>> {{deck.deck.items[deck.stepId].mcnote}} <<<
            </div>
            
            
            <!--Type: {{showTextForValue(deck.deck.items[deck.stepId],'type')}} --- Text: {{deck.deck.items[deck.stepId].text}} Note: {{deck.deck.items[deck.stepId].mcnote}}-->
            <br/>
        </li>
        
        <br/>
        
        <li class="list-group-item game_sequence_item" ng-if="deck.stepId > 0">
            <button class="btn btn-default" ng-click="playback('back')">BACK</button>
            Previous Turn: <br/>
            
            <div ng-switch="deck.deck.items[deck.stepId - 1].type">
                <div ng-switch-when="vote">Voting</div>
                <div ng-switch-when="inlineSwitch">Branching</div>
                <div ng-switch-when="results">Results</div>
                <div ng-switch-when="sound">Sound</div>
                <div ng-switch-when="cmd">Command</div>
                <div ng-switch-when="config">Configuration</div>
                <div ng-switch-when="deal">Players dealt</div>
                <div ng-switch-when="rating">Players rated others</div>
                <div ng-switch-default>Text: {{deck.deck.items[deck.stepId].text}}</div>
            </div>
        </li>
                
    </ul>
    
    
    
    <!--{{deck.stepId}}<br />-->
    <!--    {{deck.deck}}<br />-->
    
</div>
