<div>
    <ul class="list-inline">
        
        <li class="list-group-item game_sequence_item game_sequence_item_previous">
            <button class="btn btn-default" ng-click="playback('back')" translate>BACK</button>
            <label class="sequence-type" ng-if="deck.previous">{{deck.previous.type}}</label>
            
            <label class="sequence-label" ng-if="deck.previous"><span translate>Previous:</span> <span>{{deck.stepIndex - 1}}</span></label>

            <div class="content">
                <div ng-switch="deck.previous.type">
                    <div ng-switch-when="vote" translate>Players are voting</div>
                    <div ng-switch-when="inlineSwitch">
                        <div ng-repeat="inlineDeck in deck.previous.inlineDecks track by $index">
                            <!-- <button class="btn btn-warning" ng-click="playback('go', $index)">GO Option {{$index}}</button> -->
                            <ol class="inline-options">
                                <li ng-repeat="inlineItem in inlineDeck.items">
                                    <span class="type">{{inlineItem.type}}</span> {{inlineItem.text}}
                                    <ol ng-if="inlineItem.type == 'vote'">
                                        <li ng-repeat="voteOption in inlineItem.voteOptions">
                                            {{voteOption.text}}
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div ng-switch-when="results" translate>Results are displayed</div>
                    <div ng-switch-when="sound"><span translate>Sound is playing:</span> {{deck.previous.text}}</div>
                    <div ng-switch-when="cmd" translate>Command</div>
                    <div ng-switch-when="config" translate>Configuration</div>
                    <div ng-switch-when="deal" translate>Players are dealing</div>
                    <div ng-switch-when="rating" translate>Players are rating others</div>
                    <div ng-switch-default class="text-scroller">{{deck.previous.text}}</div>
                </div>

                <div ng-if="deck.previous.mcnote.trim().length > 0" class="mcnote">
                    {{deck.previous.mcnote}}
                </div>
            </div>
        </li>

        <li class="list-group-item game_sequence_item game_sequence_item_current">
            <button class="btn btn-default" ng-click="playback('rego')">REGO</button>
            <label class="sequence-type">{{deck.current.type}}</label>
            <label class="sequence-label"><span translate>Current:</span> <span>{{deck.stepIndex}}</span></label>

            <div class="content">
                <div ng-switch="deck.current.type">
                    <!--<div ng-repeat="items in getAllFollows(deck.stepIndex) track by $index">-->
                        <div ng-switch-when="vote" translate>Players are voting</div>
                        <div ng-switch-when="inlineSwitch">
                            <div ng-repeat="inlineDeck in deck.current.inlineDecks track by $index">
                                <!-- <button class="btn btn-warning" ng-click="playback('go', $index)">GO Option {{$index}}</button> -->
                                <ol class="inline-options">
                                    <li ng-repeat="inlineItem in inlineDeck.items">
                                        <span class="type">{{inlineItem.type}}</span> {{inlineItem.text}}
                                        <ol ng-if="inlineItem.type == 'vote'">
                                            <li ng-repeat="voteOption in inlineItem.voteOptions">
                                                {{voteOption.text}}
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div ng-switch-when="results" translate>Results are displayed</div>
                        <div ng-switch-when="sound"><span translate>Sound is playing:</span> {{deck.current.text}}</div>
                        <div ng-switch-when="cmd" translate>Command</div>
                        <div ng-switch-when="config" translate>Configuration</div>
                        <div ng-switch-when="deal" translate>Players are dealing</div>
                        <div ng-switch-when="rating" translate>Players are rating others</div>
                        <div ng-switch-default class="text-scroller">{{deck.current.text}}</div>
                    <!--</div>-->
                </div>

                <div ng-if="deck.current.mcnote.trim().length > 0" class="mcnote">
                    {{deck.current.mcnote}}
                </div>
            </div>
        </li>
        
        <li class="list-group-item game_sequence_item game_sequence_item_next" ng-if="deck.next">
            <button class="btn btn-success" ng-click="playback('go','0')">GO</button>
            <label class="sequence-type">{{deck.next.type}}</label>
            <button class="btn btn-warning right-aligned" ng-click="playback('goto',deck.stepIndex + 2)">SKIP THIS</button>
            <label class="sequence-label"><span translate>Next:</span> <span>{{deck.stepIndex + 1}}</span></label>
            
            <div class="content">
                <div ng-switch="deck.next.type">
                    <div ng-switch-when="vote">Players are voting</div>
                    <div ng-switch-when="inlineSwitch">
                        <div ng-repeat="inlineDeck in deck.next.inlineDecks track by $index">
                            <!-- <button class="btn btn-warning" ng-click="playback('go', $index)">GO Option {{$index}}</button> -->
                            <button class="btn btn-success" ng-click="playback('go',$index)">GO Option {{$index}}</button>
                            <ol class="inline-options">
                                <!--<li ng-repeat="inlineItem in inlineDeck.items track by $index">-->
                                <!--    <span class="type">{{inlineItem.type}}</span> {{inlineItem.text}}-->
                                <!--    <ol ng-if="inlineItem.type == 'vote'">-->
                                <!--        <li ng-repeat="voteOption in inlineItem.voteOptions">-->
                                <!--            {{voteOption.text}}-->
                                <!--        </li>-->
                                <!--    </ol>-->
                                <!--</li>-->
                                <li>
                                    <span class="type">{{inlineDeck.items[0].type}}</span> {{inlineDeck.items[0].text}}
                                    <ol ng-if="inlineDeck.items[0].type == 'vote'">
                                        <li ng-repeat="voteOption in inlineItem.voteOptions">
                                            {{voteOption.text}}
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div ng-switch-when="results" translate>Results are displayed</div>
                    <div ng-switch-when="sound"><span translate>Sound is playing:</span> {{deck.next.text}}</div>
                    <div ng-switch-when="cmd" translate>Command</div>
                    <div ng-switch-when="config" translate>Configuration</div>
                    <div ng-switch-when="deal" translate>Players are dealing</div>
                    <div ng-switch-when="rating" translate>Players are rating others</div>
                    <div ng-switch-default class="text-scroller">{{deck.next.text}}</div>
                </div>

                <div ng-if="deck.next.mcnote.trim().length > 0" class="mcnote">
                    {{deck.next.mcnote}}
                </div>
            </div>
        </li>

    </ul>
    
</div>
