<div>
    <table class="table table-bordered">
        <tr>
            <th>Player</th>
            <th ng-repeat="playerY in matchMatrix track by $index">{{$index + 1}}</th>
        </tr>
        <tr ng-repeat="playerX in matchMatrix track by $index">
            <td>{{playerLineCount($index) + 1}}</td>
            <td ng-repeat="match in playerX track by $index">
                <div ng-if="$index == playerLine" class="black">{{match}}</div>
                <div ng-if="$index != playerLine">
                
                    <button ng-if="!isMatched($index,playerLine)" class="btn" ng-class="{matching_green:match >= 4, matching_yellow:match >= 2 && match < 4}" ng-click="matchUp($index,$parent.$parent.$parent.$index)">
                        <!-- Show the number of corresponding answers --- not matched yet -->
                        {{match}}
                    </button>
                    <button ng-if="isMatched($index,playerLine)" class="btn matchedUp" ng-click="clearMatch($index,$parent.$parent.$parent.$index)">
                        <!-- These are matched = Team -->
                        TEAM: {{$index + 1}} + {{$parent.$parent.$parent.$index + 1}}
                    </button>
            </td>
        </tr>
    </table>
</div>

<!--{{polls.polls}}-->
<!--<br/>-->
<!--{{matchMatrix}}-->
{{matches.matches}}