<div>
    
    <div ng-repeat="category in teamCategories track by $index">
        {{category.category}}:
        <div ng-repeat="playerField in playerInTeam track by $index">
            <div ng-if="playerIsInTeam(playerField,$parent.$index)">
                <div class="matching_green" ng-class="{matchedUp:!playerPerfectAssigned($index)}">
                    {{playerNames[$index]}} &nbsp; &nbsp;
                    <span ng-repeat="note in playerFulfills($index) track by $index">
                        {{gettextCatalog.getString(note)}} &nbsp; &nbsp;
                    </span>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div>
        Not matched:
        <div ng-repeat="playerField in playerInTeam track by $index">
            <div class="matching_yellow" ng-if="playerDoesntMatch(playerField)">
                {{playerNames[$index]}}&nbsp;
                    <span ng-repeat="note in playerAnswered($index) track by $index">
                        {{gettextCatalog.getString(note)}} &nbsp;
                    </span>
            </div>
        </div>
    </div>
    
    <!--{{teamCategories[6].category}}: {{calcTeam(6)}}-->
    
    <!--{{playerInTeam}}-->
    <!---->
    <!--{{teamCategories[0].players}}-->
    <!--{{teamCategories[1].players}}-->
    <!--{{teamCategories[2].players}}-->
    <!--{{teamCategories[3].players}}-->
    <!--{{teamCategories[4].players}}-->
    <!--{{teamCategories[5].players}}-->
    <!--{{teamCategories[6].players}}-->
    
</div>

<!--{{polls.polls}}-->
<!--<br/>-->
<!--{{matchMatrix}}-->
<!--{{matches.matches}}-->
