<div class="container-fluid">
    {{playerId}}
    <div class="player" ng-repeat="player in status.otherPlayers track by $index"
         ng-style="{'top':playerPos[player.playerId].top, 'left':playerPos[player.playerId].left, 'background':playerColors[$index]}" ng-class="{dimm: !player.joined}">
        <ul class="list-group list-unstyled" ng-style=''>
            <li class="list-group-item">Score: {{player.score}} - Rank: {{player.rank}}</li>
            <li class="list-group-item">
                <a class="btn btn-default" ng-href="#/players/{{player.playerId}}">Details</a>
            </li>
        </ul>
    </div>
</div>

<div class="table-display-players" ng-switch="tableDisplayType">
    <div playback ng-switch-when="playback"></div>
    <div player-details pid="playerId" ng-switch-when="playerDetails"></div>
</div>
