<div>
    <!--
                <button class="btn" ng-click="playback('restart')">RESTART</button>
    -->
    <!--<button class="btn" ng-click="playback('go','0')">GO 0</button>-->
    <!--<button class="btn" ng-click="playback('go','1')">GO 1</button>-->
    <!--<button class="btn" ng-click="playback('go','2')">GO 2</button>-->
    <!--<button class="btn" ng-click="playback('rego')">REGO</button>-->
    <!--<button class="btn" ng-click="playback('back')">BACK</button>-->
    <button class="btn btn-danger right-aligned btn-middle-big" ng-click="alert()">ALARM</button>
    <br/>
    
    <deck></deck>
    
</div>
