<div class="modal" id="pollpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel" translate>Poll: {{
                    gettextCatalog.getString(polls.polls[selectedRow].question) }}</h2>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <button type="button" class="btn btn-lg btn-primary" ng-click="changeDummy(-1)"><</button>
                    {{ playerNames.customPlayerNames[polls.did] || playerNames.getNames()[polls.did] }}
                    <button type="button" class="btn btn-lg btn-primary" ng-click="changeDummy(1)">></button>
                </p>
                <div ng-if="polls.polls[selectedRow].type=='fingers'" class="popupChoice">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,0)" class="finger"
                                     ng-class="{selectedFinger_neg:polls.polls[selectedRow].answers[polls.did]==0}">0
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,1)" class="finger"
                                     ng-class="{selectedFinger_neg:polls.polls[selectedRow].answers[polls.did]==1}">1
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,2)" class="finger"
                                     ng-class="{selectedFinger_neg:polls.polls[selectedRow].answers[polls.did]==2}">2
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,3)" class="finger"
                                     ng-class="{selectedFinger_pos:polls.polls[selectedRow].answers[polls.did]==3}">3
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,4)" class="finger"
                                     ng-class="{selectedFinger_pos:polls.polls[selectedRow].answers[polls.did]==4}">4
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="selectAnswer(polls.did,5)" class="finger"
                                     ng-class="{selectedFinger_pos:polls.polls[selectedRow].answers[polls.did]==5}">5
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="polls.polls[selectedRow].type=='binary'" class="popupChoice">
                    <div class="container-fluid">
                        <div class="col-xs-6">
                            <div ng-click="selectAnswer(polls.did,1)" class="binary"
                                 ng-class="{selectedFinger_pos:polls.polls[selectedRow].answers[polls.did]==1}">+
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ng-click="selectAnswer(polls.did,0)" class="binary"
                                 ng-class="{selectedFinger_neg:polls.polls[selectedRow].answers[polls.did]==0}">-
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" ng-click="closeModal()" translate>CLOSE</button>
            </div>
        </div>
    </div>
</div>
