<div class="script-page">
    <div class="script-header">
        <button ng-click="scrollToAct()">ACT</button>
    </div>
    <div class="container-fluid script-view">
        <div>
            <item-block class="script-list-block-row" ng-repeat="go in deck.goList track by $index"
                        ng-class="{'script-list-active':go.indexBlock.indexOf(deck.index)!==-1}" itemblock="go" option="0" goto="true" active="go.indexBlock.indexOf(deck.index)!==-1">
            </item-block>
        </div>
    </div>
</div>
