<div class="script-page">
    <div class="script-loading"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    <div class="container-fluid">
        <div class="script-top">
            <div class="script-player-view">
                <div class="script-player" ng-click="playerDetails(player.playerId)"
                     ng-repeat="player in status.otherPlayers track by $index"
                     ng-style="{'top':playerPos[player.playerId].top, 'left':playerPos[player.playerId].left, 'background':playerColors[$index], 'color':awayColor(player.playerId)}"
                     ng-class="{'dimm': !player.joined, 'script-selected': player.selected}">
                    <div class="script-selection-div" ng-class="{'script-onTurn': player.onTurn, 'script-upcoming': player.upcoming}">
                        <ul class="list-group list-unstyled">
                            <li class="list-group-item header">
                                <div>Score: {{player.score}}</div>
                                <div>Rank: {{player.rank}}</div>
                                <div>{{myTurn(player.playerId)}}</div>
                            </li>
                            <li class="list-group-item content">
                                <div>
                                    {{showInfoOfTeam(player.playerId)}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="script-playback-controls">
                <div class="script-clock">{{ clock.getClock() }}</div>
                <button class="btn btn-block btn-go" id="go-button" ng-show="deck.mcTasks.go"
                        ng-click="playback('go', 0)"
                        >GO
                </button>
                <button class="btn btn-block btn-danger btn-alarm" ng-show="deck.mcTasks.alert" ng-click="alert()"
                        >ALARM
                </button>
                <button class="btn btn-block btn-warning btn-alarm" ng-show="deck.mcTasks.jump"
                        ng-click="playback('jump', 0)">JUMP
                </button>
            </div>
        </div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11">
                        <div class="script-view">
                            <item-block class="script-list-block-row"
                                        ng-repeat="go in deck.goList track by go.indexBlock[0]"
                                        ng-class="{'script-list-active':go.indexBlock.indexOf(deck.index)!==-1}"
                                        itemblock="go"
                                        option="0" goto="true" active="go.indexBlock.indexOf(deck.index)!==-1">
                            </item-block>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-lg" ng-click="scrollToAct()"><i class="fa fa-indent fa-2x"></i></button>
                        <!--
                        <button class="btn btn-block btn-lg" ng-click="scrollToAct()">LESS</button>
                        <button class="btn btn-block btn-lg" ng-click="scrollToAct()">MORE</button>
                        -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
