<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading" ng-click="collapsed.info = !collapsed.info">
                    <h3 class="panel-title" translate>Hello, MC!</h3>
                </div>
                <div class="panel-body" collapse="collapsed.info">
                    <h3><strong>NEWS OF THE DAY!!!</strong></h3>
                    <p><strong>There are some Questions for you to answer during the run: In the very beginning (just before the "START"-Printout) please answer the question concerning the weather.
                    Also early in the game, you have to take note of the Hosts answer to how many people live here. Later you have to write down the suggested change og border.
                        Have a look at your device - you can't miss it!</strong></p>
                    <p>You should already have set up the Brain and the Wifi Access-Point. (You can see the green dot
                        next
                        to
                        "Brain" in the control panel?)</p>

                    <p>Now also turn on and charge the Phones and check if they got connected and play sounds (just give
                        them
                        some Points and turn on the Volume if necessary - afterwards "Restart Game" to reset the
                        score).</p>

                    <p> You are still having trouble: In rare cases the database gets corrupted (you see a red dot next
                        to "DB" in Brain Control?). Then you can try to repair it by clicking "repair DB" and wait some
                        seconds.</p>

                    <p>Select your Game session to correctly record the outcomings of this homevisit - and you are ready
                        to go!</p>
                    <p><strong>When you come to HAU1 at night, please charge the brain battery an TURN IT ON. It will then automatically upload the game data to the Website.</strong></p>
                    <button class="pull-right btn btn-lg btn-default" ng-click="collapsed.info = !collapsed.info">
                        Collapse
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" translate>Game settings</h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <form>
                            <language-chooser></language-chooser>
                            <game-session-chooser></game-session-chooser>
                        </form>

                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-danger btn-lg" ng-click="playback('restart')" translate>RESTART GAME
                        </button>
                    </li>
                </ul>
            </div>

         </div>
        <div class="col-md-6">
            <raspi-manager></raspi-manager>

        </div>
    </div>
</div>
