<div class="labeled-option">
    <div class="labeled-option-title" translate>{{title}}</div>
    <div class="labeled-option-content" ng-switch="type">
        <div ng-switch-when="textarea">
            <span editable-textarea="item[field]"
                  e-rows="7" e-cols="40" e-name="field"
                  onaftersave="saveitem()">
                {{ item[field] || '-' }}
            </span>
        </div>
        <div ng-switch-when="textarea_pre">
            <span editable-textarea="item[field]"
                  e-rows="7" e-cols="40" e-name="field"
                  onaftersave="saveitem()">
           <pre><code>{{ item[field] || '-' }}</code></pre>
           </span>
        </div>
        <div ng-switch-when="select_editable">
           <span editable-select="item[field]" e-name="field"
                 onaftersave="saveitem()"
                 e-ng-options="s.value as s.text for s in itemOptions[field]"
                   >
                {{ showTextForValue(item, field) }}
            </span>
        </div>
        <div ng-switch-when="select">
            <select class="form-control"
                    ng-model="item[field]"
                    ng-change="saveitem()"
                    ng-options="s.value as s.text for s in itemOptions[field]">
            </select>
        </div>
        <div ng-switch-when="text">
            <span editable-text="item[field]"
                  e-rows="7" e-cols="40" e-name="field"
                  onaftersave="saveitem()">
            {{ item[field] || '-' }}</span>
        </div>
        <div ng-switch-when="checkbox">
            <input type="checkbox" ng-model="item[field]"
                   ng-change="saveitem()">
        </div>
        <div ng-switch-when="checkbox_editable">
            <span editable-checkbox="item[field]"
                  e-rows="7" e-cols="40" e-name="field"
                  onaftersave="saveitem()">
            {{ item[field] || '-' }}</span>
        </div>
        <div ng-switch-when="tags">
        <ul class="option-tag-list list-inline">
            <li ng-repeat="device in item[field] track by $index">
                <form editable-form name="deviceFrm" shown="device == ''">
                        <span class="option-tag">
                            <span ng-click="deviceFrm.$show()" e-form="deviceFrm" editable-text="item[field][$index]"
                                  onbeforesave="" onaftersave="saveitem()">
                                {{ device }}
                            </span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                  ng-click="removeTag(field, $index)"></span>
                        </span>
                </form>
            </li>
            <li>
                    <span ng-click="addTag(field)"><span class="glyphicon glyphicon-plus"
                                                             aria-hidden="true"></span></span>
            </li>
        </ul>
        </div>

    </div>
</div>


