.device {
    background-color: #b9def0;
}

.item-header {
    margin: 0;
}
.item-header ul {
    margin: 0;

}

.item-header > li {
    margin-right: 15px;
}

.device-map-tags {
    display: inline-block;
}

.inline-deck,
.deck {
    background: rgb(250, 250, 250);
}

.item {
    background: #CEEAC4 !important;
    padding: 5px 15px !important;
}
.item-card {
    background: #C4EAE6 !important;
}

.item-vote {
    background: #E9C4EA !important;
}

.item-results {
    background: #D6C4EA !important;
}

.item-inlineSwitch {
    background: #eac1a7 !important;
}

.item-highlighted {
    border: 2px solid red !important;
}


.item-special td {
    padding: 5px;
}

.labeled-option-group {
    display: table;
}

.labeled-option-group .labeled-option {
    display: table-row;
}

.labeled-option-group .labeled-option > div {
    display: table-cell;
    padding: 4px 15px 4px 5px;
}

.labeled-option-title {
    font-weight: bold;
    text-align: right;

}

.labeled-option-content {
}

.item-header .labeled-option {
    display: inline-block;
    padding: 7px;
}

.option-tag-list {
    display: inline-block;
}

.option-tag {
    background-color: #b9def0;
}

ul#messages {
    list-style: none;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    min-height: 6em;
    max-height: 12em;
    overflow: auto;
}

#spacer {
    height: 1000px;
}

.direct-item {
    width: 100%;
}

td.item-comment {
}

.item-mcnote {
    margin-top: 20px;
}

.mcnote-title {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.on-turn {
    background-color: rgba(255, 116, 0, 0.27);
}

.deck-body {
    text-align: right;
}

.deck-table {
    text-align: left;
}

.deck-title i{
    display: none;
}

.deck-title:active {
    text-decoration: none;
    font-weight: bolder;
}
.deck-title:active i{
    display: inline;
}

.collapse-all-link {
    color: black;
}
.collapse-all-link:active i:before {
    content: "\f1ce";
    -webkit-animation: fa-spin 2s infinite linear;
}
