.device {
    background-color: #b9def0;
}

ul#messages {
    list-style: none;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    min-height: 6em;
    max-height: 12em;
    overflow: auto;
}

#spacer {
    height:1000px;
}
.deck-table-row > *:nth-child(1) { width:30px; }
.deck-table-row > *:nth-child(2) { width:70px; }
.deck-table-row > *:nth-child(3) { width:70px; }
.deck-table-row > *:nth-child(5) { width:70px; }

.option-table-row > *:nth-child(1) { width:30px; }
.option-table-row > *:nth-child(3) { width:50px; }

.direct-item {
    width: 100%;
}

td.item-comment {
}

.item-mcnote {
    margin-top: 20px;
}
.mcnote-title {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 7px;
}
